openapi: 3.0.1
info:
  description: |-
    # Introduction

    Samsara provides API endpoints for interacting with Samsara Cloud, so that you can build powerful applications and custom solutions with sensor data. Samsara has endpoints available to track and analyze sensors, vehicles, and entire fleets.

    The Samsara Cloud API is a [RESTful API](https://en.wikipedia.org/wiki/Representational_state_transfer) accessed by an [HTTP](https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol) client such as wget or curl, or HTTP libraries of most modern programming languages including python, ruby, java. We use built-in HTTP features, like HTTP authentication and HTTP verbs, which are understood by off-the-shelf HTTP clients. We allow you to interact securely with our API from a client-side web application (though you should never expose your secret API key). [JSON](http://www.json.org/) is returned by all API responses, including errors. If you’re familiar with what you can build with a REST API, the following API reference guide will be your go-to resource.

    API access to the Samsara cloud is available to all Samsara administrators. To start developing with Samsara APIs you will need to [obtain your API keys](#section/Authentication) to authenticate your API requests.

    If you have any questions you can reach out to us on [support@samsara.com](mailto:support@samsara.com)

    # Endpoints

    All our APIs can be accessed through HTTP requests to URLs like:

    ```curl
    https://api.samsara.com/<version>/<endpoint>
    ```

    All our APIs are [versioned](#section/Versioning). If we intend to make breaking changes to an API which either changes the response format or request parameter, we will increment the version.

    # Authentication

    To authenticate your API request you will need to include your secret token. You can manage your API tokens in the [Dashboard](https://cloud.samsara.com). They are visible under `Settings->Organization->API Tokens`.

    Your API tokens carry many privileges, so be sure to keep them secure. Do not share your secret API tokens in publicly accessible areas such as GitHub, client-side code, and so on.

    Authentication to the API is performed via [HTTP Basic Auth](https://en.wikipedia.org/wiki/Basic_access_authentication). Provide your API token as the basic access_token value in the URL. You do not need to provide a password.

    ```curl
    https://api.samsara.com/<version>/<endpoint>?access_token={access_token}
    ```

    All API requests must be made over [HTTPS](https://en.wikipedia.org/wiki/HTTPS). Calls made over plain HTTP or without authentication will fail.

    # Request Methods

    Our API endpoints use [HTTP request methods](https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol#Request_methods) to specify the desired operation to be performed. The documentation below specified request method supported by each endpoint and the resulting action.

    ## GET

    GET requests are typically used for fetching data (like data for a particular driver).

    ## POST

    POST requests are typically used for creating or updating a record (like adding new tags to the system). With that being said, a few of our POST requests can be used for fetching data (like current location data of your fleet).

    ## PUT

    PUT requests are typically used for updating an existing record (like updating all devices associated with a particular tag).

    ## PATCH

    PATCH requests are typically used for modifying an existing record (like modifying a few devices associated with a particular tag).

    ## DELETE

    DELETE requests are used for deleting a record (like deleting a tag from the system).

    # Response Codes

    All API requests will respond with appropriate [HTTP status code](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes). Your API client should handle each response class differently.

    ## 2XX

    These are successful responses and indicate that the API request returned the expected response.

    ## 4XX

    These indicate that there was a problem with the request like a missing parameter or invalid values. Check the response for specific [error details](#section/Error-Responses). Requests that respond with a 4XX status code, should be modified before retrying.

    ## 5XX

    These indicate server errors when the server is unreachable or is misconfigured. In this case, you should retry the API request after some delay.

    # Error Responses

    In case of a 4XX status code, the body of the response will contain information to briefly explain the error reported. To help debugging the error, you can refer to the following table for understanding the error message.

    | Status Code | Message | Description |
    |-------------|----------------|-------------------------------------------------------------------|
    | 401 | Invalid token | The API token is invalid and could not be authenticated. Please refer to the [authentication section](#section/Authentication). |
    | 404 | Page not found | The API endpoint being accessed is invalid. |
    | 400 | Bad request | Default response for an invalid request. Please check the request to make sure it follows the format specified in the documentation. |

    # Versioning

    All our APIs are versioned. Our current API version is `v1` and we are continuously working on improving it further and provide additional endpoints. If we intend to make breaking changes to an API which either changes the response format or request parameter, we will increment the version. Thus, you can use our current API version worry free.

    # FAQs

    Check out our [responses to FAQs here](https://kb.samsara.com/hc/en-us/sections/360000538054-APIs). Don’t see an answer to your question? Reach out to us on [support@samsara.com](mailto:support@samsara.com).
  title: Samsara API
  version: 1.0.0
servers:
- url: https://api.samsara.com/v1
tags:
- description: Access to fleet data
  name: Fleet
- description: Access to industrial data
  name: Industrial
- description: Access to sensor data
  name: Sensors
- description: Access to asset specific data
  name: Assets
- description: Access to safety specific data
  name: Safety
- description: Access to user data
  name: Users
paths:
  /addresses:
    get:
      description: Fetch all addresses/geofences for the organization. An address contains either a circle or polygon geofence describing the address boundaries.
      operationId: get_organization_addresses
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Address'
                type: array
          description: List of addresses/geofences. For each address entry, the geofence field will only be populated with either 'circle' or 'polygon', depending on the geofence type.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /addresses
      tags:
      - Fleet
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
    post:
      description: Add one or more addresses to the organization
      operationId: add_organization_addresses
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          application/json:
            schema:
              properties:
                addresses:
                  items:
                    $ref: '#/components/schemas/_addresses_addresses'
                  type: array
              required:
              - addresses
              type: object
        description: "List of addresses/geofences to add. Geofences can be circular\
          \ or a polygon. \nFor each address, only one of 'circle' or 'polygon' should\
          \ be provided. If both are provided, the geofence will be saved as a polygon."
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Address'
                type: array
          description: List of added addresses/geofences. For each address entry, the geofence field will only be populated with either 'circle' or 'polygon', depending on the geofence type. Circle geofences added without a specific lat/lng are geocoded asynchronously, and will be 0,0 in the immediate response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /addresses
      tags:
      - Fleet
      x-codegen-request-body-name: addresses
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
  /addresses/{address_id}:
    delete:
      description: Delete an address.
      operationId: delete_organization_address
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: ID of the address/geofence
        in: path
        name: address_id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        200:
          content: {}
          description: Address was successfully deleted. No response body is returned.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /addresses/{addressId}
      tags:
      - Fleet
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
    get:
      description: Fetch an address by its id.
      operationId: get_organization_address
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: ID of the address/geofence
        in: path
        name: address_id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
          description: The address/geofence. The geofence field will only be populated with either 'circle' or 'polygon', depending on the geofence type.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /addresses/{addressId}
      tags:
      - Fleet
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
    patch:
      description: Update the name, formatted address, geofence, notes, or tag and contact Ids for an address. The set of tags or contacts associated with this address will be updated to exactly match the list of IDs passed in. To remove all tags or contacts from an address, pass an empty list; to remove notes, pass an empty string.
      operationId: update_organization_address
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: ID of the address/geofence
        in: path
        name: address_id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        $ref: '#/components/requestBodies/inline_object_1'
        content:
          application/json:
            schema:
              properties:
                contactIds:
                  description: A list of IDs for contact book entries.
                  items:
                    example: 123
                    format: int64
                    type: integer
                  type: array
                formattedAddress:
                  description: The full address associated with this address/geofence, as it might be recognized by maps.google.com
                  example: 350 Rhode Island St, San Francisco, CA
                  type: string
                geofence:
                  $ref: '#/components/schemas/AddressGeofence'
                name:
                  description: The name of this address/geofence
                  example: Samsara HQ
                  type: string
                notes:
                  description: Notes associated with an address.
                  example: Delivery site 1
                  type: string
                tagIds:
                  description: A list of tag IDs.
                  items:
                    example: 123
                    format: int64
                    type: integer
                  type: array
              type: object
        description: Update parts of an address's value. If the geofence 'circle' or 'polygon' key is specified, the update will change the type of geofence accordingly.
        required: true
      responses:
        200:
          content: {}
          description: Address was successfully updated. No response body is returned.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /addresses/{addressId}
      tags:
      - Fleet
      x-codegen-request-body-name: address
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
  /contacts:
    get:
      description: Fetch all contacts for the organization.
      operationId: list_contacts
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Contact'
                type: array
          description: List of contacts.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /contacts
      tags:
      - Fleet
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
  /contacts/{contact_id}:
    get:
      description: Fetch a contact by its id.
      operationId: get_organization_contact
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: ID of the contact
        in: path
        name: contact_id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
          description: The contact.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /contacts/{contact_id}
      tags:
      - Fleet
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
  /fleet/add_address:
    post:
      description: This method adds an address book entry to the specified group.
      operationId: add_fleet_address
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_2'
        content:
          application/json:
            schema:
              properties:
                address:
                  description: The address of the entry to add, as it would be recognized if provided to maps.google.com.
                  example: 501 York St
                  type: string
                groupId:
                  description: Group ID to query.
                  example: 101
                  format: int64
                  type: integer
                name:
                  description: Name of the location to add to the address book.
                  example: HQ
                  type: string
                radius:
                  description: Radius in meters of the address (used for matching vehicle trip stops to this location).
                  example: 10
                  type: integer
              required:
              - address
              - groupId
              - name
              - radius
              type: object
        required: true
      responses:
        200:
          content: {}
          description: Address was successfully added. No response body is returned.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/add_address
      tags:
      - Fleet
      x-codegen-request-body-name: addressParam
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
  /fleet/assets:
    get:
      description: Fetch all of the assets for the group.
      operationId: get_all_assets
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: Optional group ID if the organization has multiple groups (uncommon).
        in: query
        name: group_id
        schema:
          format: int64
          type: integer
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: List of assets.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/assets
      tags:
      - Fleet
      - Assets
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
  /fleet/assets/locations:
    get:
      description: Fetch current locations of all assets for the group.
      operationId: get_all_asset_current_locations
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: Optional group ID if the organization has multiple groups (uncommon).
        in: query
        name: group_id
        schema:
          format: int64
          type: integer
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: List of assets and their current locations.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/assets/locations
      tags:
      - Fleet
      - Assets
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
  /fleet/assets/{asset_id}/locations:
    get:
      description: Fetch the historical locations for the asset.
      operationId: get_asset_location
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: ID of the asset
        in: path
        name: asset_id
        required: true
        schema:
          format: int64
          type: integer
      - description: Timestamp in milliseconds representing the start of the period to fetch, inclusive. Used in combination with endMs.
        in: query
        name: start_ms
        required: true
        schema:
          format: int64
          type: integer
      - description: Timestamp in milliseconds representing the end of the period to fetch, inclusive. Used in combination with startMs.
        in: query
        name: end_ms
        required: true
        schema:
          format: int64
          type: integer
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetLocationResponse'
          description: Asset location details.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/assets/{assetId:[0-9]+}/locations
      tags:
      - Fleet
      - Assets
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
  /fleet/assets/{asset_id}/reefer:
    get:
      description: Fetch the reefer-specific stats of an asset.
      operationId: get_asset_reefer
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: ID of the asset
        in: path
        name: asset_id
        required: true
        schema:
          format: int64
          type: integer
      - description: Timestamp in milliseconds representing the start of the period to fetch, inclusive. Used in combination with endMs.
        in: query
        name: start_ms
        required: true
        schema:
          format: int64
          type: integer
      - description: Timestamp in milliseconds representing the end of the period to fetch, inclusive. Used in combination with startMs.
        in: query
        name: end_ms
        required: true
        schema:
          format: int64
          type: integer
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetReeferResponse'
          description: Reefer-specific asset details.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/assets/{assetId:[0-9]+}/reefer
      tags:
      - Fleet
      - Assets
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
  /fleet/dispatch/routes:
    get:
      description: Fetch all of the dispatch routes for the group.
      operationId: fetch_all_dispatch_routes
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: Optional group ID if the organization has multiple groups (uncommon).
        in: query
        name: group_id
        schema:
          format: int64
          type: integer
      - description: Time in unix milliseconds that represents the oldest routes to return. Used in combination with duration. Defaults to now.
        in: query
        name: end_time
        schema:
          format: int64
          type: integer
      - description: Time in milliseconds that represents the duration before end_time to query. Defaults to 24 hours.
        in: query
        name: duration
        schema:
          format: int64
          type: integer
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DispatchRoutes'
          description: All dispatch route objects for the group.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/dispatch/routes
      tags:
      - Fleet
      - Routes
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
    post:
      description: Create a new dispatch route.
      operationId: create_dispatch_route
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DispatchRouteCreate'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DispatchRoute'
          description: Created route object including the new route ID.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/dispatch/routes
      tags:
      - Fleet
      - Routes
      x-codegen-request-body-name: createDispatchRouteParams
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
  /fleet/dispatch/routes/job_updates:
    get:
      description: Fetch all updates to a job including route data in the last 24 hours or subsequent to an sequence ID
      operationId: fetch_all_route_job_updates
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: Optional group ID if the organization has multiple groups (uncommon).
        in: query
        name: group_id
        schema:
          format: int64
          type: integer
      - description: Sequence ID from the response payload of the last request. Defaults to fetching updates from last 24 hours.
        in: query
        name: sequence_id
        schema:
          type: string
      - description: Optionally set include=route to include route object in response payload.
        in: query
        name: include
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/allRouteJobUpdates'
          description: All job updates on routes.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/dispatch/routes/job_updates
      tags:
      - Fleet
      - Routes
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
  /fleet/dispatch/routes/{route_id}:
    delete:
      description: Delete a dispatch route and its associated jobs.
      operationId: delete_dispatch_route_by_id
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: ID of the dispatch route.
        in: path
        name: route_id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        200:
          content: {}
          description: Successfully deleted the dispatch route. No response body is returned.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/dispatch/routes/{route_id:[0-9]+}/
      tags:
      - Fleet
      - Routes
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
    get:
      description: Fetch a dispatch route by id.
      operationId: get_dispatch_route_by_id
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: ID of the dispatch route.
        in: path
        name: route_id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DispatchRoute'
          description: The dispatch route corresponding to route_id.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/dispatch/routes/{route_id:[0-9]+}
      tags:
      - Fleet
      - Routes
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
    put:
      description: Update a dispatch route and its associated jobs.
      operationId: update_dispatch_route_by_id
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: ID of the dispatch route.
        in: path
        name: route_id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DispatchRoute'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DispatchRoute'
          description: Update the dispatch route. Allowable updates include setting job state, adding or removing jobs, and changing job locations and times.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/dispatch/routes/{route_id:[0-9]+}/
      tags:
      - Fleet
      - Routes
      x-codegen-request-body-name: updateDispatchRouteParams
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
  /fleet/dispatch/routes/{route_id}/history:
    get:
      description: Fetch the history of a dispatch route.
      operationId: get_dispatch_route_history
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: Timestamp representing the start of the period to fetch, inclusive. Used in combination with end_time. Defaults to 0.
        in: query
        name: start_time
        schema:
          format: int64
          type: integer
      - description: Timestamp representing the end of the period to fetch, inclusive. Used in combination with start_time. Defaults to nowMs.
        in: query
        name: end_time
        schema:
          format: int64
          type: integer
      - description: ID of the route with history.
        in: path
        name: route_id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DispatchRouteHistory'
          description: The historical route state changes between start_time and end_time.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/dispatch/routes/{route_id:[0-9]+}/history
      tags:
      - Fleet
      - Routes
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
  /fleet/drivers:
    post:
      description: Get all the drivers for the specified group.
      operationId: get_fleet_drivers
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_3'
        content:
          application/json:
            schema:
              properties:
                groupId:
                  description: Group ID to query.
                  example: 101
                  format: int64
                  type: integer
              required:
              - groupId
              type: object
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriversResponse'
          description: All drivers in the group.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/drivers
      tags:
      - Fleet
      x-codegen-request-body-name: groupDriversParam
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
  /fleet/drivers/create:
    post:
      description: Create a new driver.
      operationId: create_driver
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriverForCreate'
        description: Driver creation body
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Driver'
          description: Returns the successfully created the driver.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/drivers/create
      tags:
      - Fleet
      - Drivers
      x-codegen-request-body-name: createDriverParam
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
  /fleet/drivers/document_types:
    get:
      description: Fetch all of the document types.
      operationId: get_driver_document_types_by_org_id
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentTypes'
          description: Returns all of the document types.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/drivers/document_types
      tags:
      - Fleet
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
  /fleet/drivers/documents:
    get:
      description: Fetch all of the documents.
      operationId: get_driver_documents_by_org_id
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: Time in unix milliseconds that represents the oldest documents to return. Used in combination with durationMs. Defaults to now.
        in: query
        name: end_ms
        schema:
          format: int64
          type: integer
      - description: Time in milliseconds that represents the duration before endMs to query. Defaults to 24 hours.
        in: query
        name: duration_ms
        schema:
          format: int64
          type: integer
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Documents'
          description: Returns all of the documents.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/drivers/documents
      tags:
      - Fleet
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
  /fleet/drivers/inactive:
    get:
      description: Fetch all deactivated drivers for the group.
      operationId: get_all_deactivated_drivers
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: Optional group ID if the organization has multiple groups (uncommon).
        in: query
        name: group_id
        schema:
          format: int64
          type: integer
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Driver'
                type: array
          description: Returns an array of all deactivated drivers for the group. Deactivated drivers are referenced at /fleet/drivers/inactive/{driver_id}
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/drivers/inactive
      tags:
      - Fleet
      - Drivers
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
  /fleet/drivers/inactive/{driver_id_or_external_id}:
    get:
      description: Fetch deactivated driver by id.
      operationId: get_deactivated_driver_by_id
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: ID of the driver.  This must be either the numeric ID generated by Samsara or the external ID of the driver.  External IDs are customer specified key-value pairs.
        in: path
        name: driver_id_or_external_id
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Driver'
          description: Returns the deactivated driver with the given driver_id.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/drivers/inactive/{driver_id:[0-9]+ | external_id:[a-zA-Z0-9]+}
      tags:
      - Fleet
      - Drivers
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
    put:
      description: Reactivate the inactive driver having id.
      operationId: reactivate_driver_by_id
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: ID of the driver.  This must be either the numeric ID generated by Samsara or the external ID of the driver.  External IDs are customer specified key-value pairs.
        in: path
        name: driver_id_or_external_id
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_4'
        content:
          application/json:
            schema:
              properties:
                reactivate:
                  description: True indicates that this driver should be reactivated.
                  type: boolean
              required:
              - reactivate
              type: object
        description: Driver reactivation body
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentDriver'
          description: Returns the reactivated driver, which is now available at /fleet/drivers/{driver_id}.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/drivers/inactive/{driver_id:[0-9]+ | external_id:[a-zA-Z0-9]+}
      tags:
      - Fleet
      - Drivers
      x-codegen-request-body-name: reactivateDriverParam
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
  /fleet/drivers/summary:
    post:
      description: Get the distance and time each driver in an organization has driven in a given time period.
      operationId: get_fleet_drivers_summary
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: Snap query result to HOS day boundaries.
        in: query
        name: snap_to_day_bounds
        schema:
          type: boolean
      requestBody:
        $ref: '#/components/requestBodies/inline_object_5'
        content:
          application/json:
            schema:
              properties:
                endMs:
                  description: End time (ms) of queried time period.
                  example: 1481076244389
                  format: int64
                  type: integer
                orgId:
                  description: Org ID to query.
                  example: 101
                  format: int64
                  type: integer
                startMs:
                  description: Start time (ms) of queried time period.
                  example: 1481076243389
                  format: int64
                  type: integer
              required:
              - endMs
              - orgId
              - startMs
              type: object
        description: Org ID and time range to query.
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriversSummaryResponse'
          description: Distance traveled and time active for each driver in the organization over the specified time period.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/drivers/summary
      tags:
      - Fleet
      x-codegen-request-body-name: driversSummaryParam
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
  /fleet/drivers/{driver_id_or_external_id}:
    delete:
      description: Deactivate a driver with the given id.
      operationId: deactivate_driver
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: ID of the driver.  This must be either the numeric ID generated by Samsara or the external ID of the driver.  External IDs are customer specified key-value pairs.
        in: path
        name: driver_id_or_external_id
        required: true
        schema:
          type: string
      responses:
        200:
          content: {}
          description: Successfully deactivated the driver, which is now referenced by /fleet/drivers/inactive/{driver_id}.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/drivers/{driver_id:[0-9]+ | external_id:[a-zA-Z0-9]+}
      tags:
      - Fleet
      - Drivers
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
    get:
      description: Fetch driver by id.
      operationId: get_driver_by_id
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: ID of the driver.  This must be either the numeric ID generated by Samsara or the external ID of the driver.  External IDs are customer specified key-value pairs.
        in: path
        name: driver_id_or_external_id
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentDriver'
          description: Returns the driver for the given driver_id.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/drivers/{driver_id:[0-9]+ | external_id:[a-zA-Z0-9]+}
      tags:
      - Fleet
      - Drivers
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
  /fleet/drivers/{driver_id}/dispatch/routes:
    get:
      description: Fetch all of the dispatch routes for a given driver.
      operationId: get_dispatch_routes_by_driver_id
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: ID of the driver with the associated routes.
        in: path
        name: driver_id
        required: true
        schema:
          format: int64
          type: integer
      - description: Time in unix milliseconds that represents the oldest routes to return. Used in combination with duration. Defaults to now.
        in: query
        name: end_time
        schema:
          format: int64
          type: integer
      - description: Time in milliseconds that represents the duration before end_time to query. Defaults to 24 hours.
        in: query
        name: duration
        schema:
          format: int64
          type: integer
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DispatchRoutes'
          description: Returns the dispatch routes for the given driver_id.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/drivers/{driver_id:[0-9]+}/dispatch/routes
      tags:
      - Fleet
      - Routes
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
    post:
      description: Create a new dispatch route for the driver with driver_id.
      operationId: create_driver_dispatch_route
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: ID of the driver with the associated routes.
        in: path
        name: driver_id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DispatchRouteCreate'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DispatchRoute'
          description: Created route object including the new route ID.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/drivers/{driver_id:[0-9]+}/dispatch/routes
      tags:
      - Fleet
      - Routes
      x-codegen-request-body-name: createDispatchRouteParams
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
  /fleet/drivers/{driver_id}/documents:
    post:
      description: Create a driver document for the given driver.
      operationId: create_driver_document
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: ID of the driver for whom the document is created.
        in: path
        name: driver_id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentCreate'
        description: 'To create a document for a given document type, the document
          type''s uuid needs to be passed in to documentTypeUuid. The list of fields
          passed in should match the document type’s list of field types in the correct
          order. In other words, a field''s valueType and value (i.e. only one of:
          stringValue, numberValue, or photoValue) at index _i_ should match with
          the document field type’s valueType at index _i_.'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
          description: Returns the created document.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/drivers/{driver_id:[0-9]+}/documents
      tags:
      - Fleet
      x-codegen-request-body-name: createDocumentParams
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
  /fleet/drivers/{driver_id}/hos_daily_logs:
    post:
      description: Get summarized daily HOS charts for a specified driver.
      operationId: get_fleet_drivers_hos_daily_logs
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: ID of the driver with HOS logs.
        in: path
        name: driver_id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        $ref: '#/components/requestBodies/inline_object_6'
        content:
          application/json:
            schema:
              properties:
                driverId:
                  description: Driver ID to query.
                  example: 444
                  format: int64
                  type: integer
                endMs:
                  description: End of the time range, specified in milliseconds UNIX time.
                  example: 1462881998034
                  type: integer
                groupId:
                  description: Group ID to query.
                  example: 101
                  format: int64
                  type: integer
                startMs:
                  description: Beginning of the time range, specified in milliseconds UNIX time.
                  example: 1462878398034
                  type: integer
              required:
              - driverId
              - endMs
              - groupId
              - startMs
              type: object
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriverDailyLogResponse'
          description: Distance traveled and time active for each driver in the organization over the specified time period.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/drivers/{driver_id:[0-9]+}/hos_daily_logs
      tags:
      - Fleet
      x-codegen-request-body-name: hosLogsParam
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
  /fleet/drivers/{driver_id}/safety/score:
    get:
      description: Fetch the safety score for the driver.
      operationId: get_driver_safety_score
      parameters:
      - description: ID of the driver
        in: path
        name: driver_id
        required: true
        schema:
          format: int64
          type: integer
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: Timestamp in milliseconds representing the start of the period to fetch, inclusive. Used in combination with endMs.
        in: query
        name: start_ms
        required: true
        schema:
          format: int64
          type: integer
      - description: Timestamp in milliseconds representing the end of the period to fetch, inclusive. Used in combination with startMs.
        in: query
        name: end_ms
        required: true
        schema:
          format: int64
          type: integer
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriverSafetyScoreResponse'
          description: Safety score details.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/drivers/{driverId:[0-9]+}/safety/score
      tags:
      - Fleet
      - Safety
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
  /fleet/hos_authentication_logs:
    post:
      description: Get the HOS (hours of service) signin and signout logs for the specified driver. Only signout logs include location information.
      operationId: get_fleet_hos_authentication_logs
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_7'
        content:
          application/json:
            schema:
              properties:
                driverId:
                  description: Driver ID to query.
                  example: 444
                  format: int64
                  type: integer
                endMs:
                  description: End of the time range, specified in milliseconds UNIX time.
                  example: 1462881998034
                  type: integer
                groupId:
                  description: Group ID to query.
                  example: 101
                  format: int64
                  type: integer
                startMs:
                  description: Beginning of the time range, specified in milliseconds UNIX time.
                  example: 1462878398034
                  type: integer
              required:
              - driverId
              - endMs
              - groupId
              - startMs
              type: object
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HosAuthenticationLogsResponse'
          description: HOS authentication logs for the specified driver.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/hos_authentication_logs
      tags:
      - Fleet
      x-codegen-request-body-name: hosAuthenticationLogsParam
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
  /fleet/hos_logs:
    post:
      description: Get the HOS (hours of service) logs for the specified driver. This method returns all the HOS statuses that the driver was in during this time period.
      operationId: get_fleet_hos_logs
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_8'
        content:
          application/json:
            schema:
              properties:
                driverId:
                  description: Driver ID to query.
                  example: 444
                  format: int64
                  type: integer
                endMs:
                  description: End of the time range, specified in milliseconds UNIX time.
                  example: 1462881998034
                  type: integer
                groupId:
                  description: Group ID to query.
                  example: 101
                  format: int64
                  type: integer
                startMs:
                  description: Beginning of the time range, specified in milliseconds UNIX time.
                  example: 1462878398034
                  type: integer
              required:
              - driverId
              - endMs
              - groupId
              - startMs
              type: object
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HosLogsResponse'
          description: HOS logs for the specified driver.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/hos_logs
      tags:
      - Fleet
      x-codegen-request-body-name: hosLogsParam
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
  /fleet/hos_logs_summary:
    post:
      description: Get the current HOS status for all drivers in the group.
      operationId: get_fleet_hos_logs_summary
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_9'
        content:
          application/json:
            schema:
              properties:
                groupId:
                  description: Group ID to query.
                  example: 101
                  format: int64
                  type: integer
              required:
              - groupId
              type: object
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HosLogsSummaryResponse'
          description: HOS logs for the specified driver.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/hos_logs_summary
      tags:
      - Fleet
      x-codegen-request-body-name: hosLogsParam
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
  /fleet/list:
    post:
      description: Get list of the vehicles. This method returns a list of the vehicles in the Samsara Cloud and information about them.
      operationId: list_fleet
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: Pagination parameter indicating the cursor position to continue returning results after. Used in conjunction with the 'limit' parameter. Mutually exclusive with 'endingBefore' parameter.
        in: query
        name: starting_after
        schema:
          type: string
      - description: Pagination parameter indicating the cursor position to return results before. Used in conjunction with the 'limit' parameter. Mutually exclusive with 'startingAfter' parameter.
        in: query
        name: ending_before
        schema:
          type: string
      - description: Pagination parameter indicating the number of results to return in this request. Used in conjunction with either 'startingAfter' or 'endingBefore'.
        in: query
        name: limit
        schema:
          format: int64
          type: integer
      requestBody:
        $ref: '#/components/requestBodies/inline_object_10'
        content:
          application/json:
            schema:
              properties:
                groupId:
                  description: Group ID to query.
                  example: 101
                  format: int64
                  type: integer
              required:
              - groupId
              type: object
        description: Group ID to query.
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
          description: List of vehicles and information about each.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/list
      tags:
      - Fleet
      x-codegen-request-body-name: groupParam
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
  /fleet/locations:
    post:
      description: Get current location of vehicles in a group. This method returns the current location in latitude and longitude of all vehicles in a requested group.
      operationId: get_fleet_locations
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_11'
        content:
          application/json:
            schema:
              properties:
                groupId:
                  description: Group ID to query.
                  example: 101
                  format: int64
                  type: integer
              required:
              - groupId
              type: object
        description: Group ID to query.
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
          description: List of vehicle objects containing their location and the time at which that location was logged.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/locations
      tags:
      - Fleet
      x-codegen-request-body-name: groupParam
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
  /fleet/maintenance/dvirs:
    get:
      description: Get DVIRs for the org within provided time constraints
      operationId: get_dvirs
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: time in millis until the last dvir log.
        in: query
        name: end_ms
        required: true
        schema:
          type: integer
      - description: time in millis which corresponds to the duration before the end_ms.
        in: query
        name: duration_ms
        required: true
        schema:
          type: integer
      - description: Group ID to query.
        in: query
        name: group_id
        schema:
          type: integer
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DvirListResponse'
          description: DVIRs for the specified duration.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/maintenance/dvirs
      tags:
      - Fleet
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
    post:
      description: Create a new dvir, marking a vehicle or trailer safe or unsafe.
      operationId: create_dvir
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_12'
        content:
          application/json:
            schema:
              properties:
                inspectionType:
                  description: Only type 'mechanic' is currently accepted.
                  enum:
                  - mechanic
                  example: mechanic
                  type: string
                mechanicNotes:
                  description: Any notes from the mechanic.
                  example: Replaced headlight on passenger side.
                  type: string
                odometerMiles:
                  description: The current odometer of the vehicle.
                  example: 38426
                  type: integer
                previousDefectsCorrected:
                  description: Whether any previous defects were corrected. If this vehicle or trailer was previously marked unsafe, and this DVIR marks it as safe, either previousDefectsCorrected or previousDefectsIgnored must be true.
                  example: true
                  type: boolean
                previousDefectsIgnored:
                  description: Whether any previous defects were ignored. If this vehicle or trailer was previously marked unsafe, and this DVIR marks it as safe, either previousDefectsCorrected or previousDefectsIgnored must be true.
                  example: false
                  type: boolean
                safe:
                  description: Whether or not this vehicle or trailer is safe to drive.
                  enum:
                  - safe
                  - unsafe
                  example: safe
                  type: string
                trailerId:
                  description: Id of trailer being inspected. Either vehicleId or trailerId must be provided.
                  example: 11
                  type: integer
                userEmail:
                  description: The Samsara login email for the person creating the DVIR. The email must correspond to a Samsara user's email.
                  example: j.smith@yahoo.com
                  type: string
                vehicleId:
                  description: Id of vehicle being inspected. Either vehicleId or trailerId must be provided.
                  example: 10
                  type: integer
              required:
              - inspectionType
              - safe
              - userEmail
              type: object
        description: DVIR creation body
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DvirBase'
          description: Newly created DVIR.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/maintenance/dvirs
      tags:
      - Fleet
      x-codegen-request-body-name: createDvirParam
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
  /fleet/maintenance/list:
    post:
      description: Get list of the vehicles with any engine faults or check light data.
      operationId: get_fleet_maintenance_list
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_13'
        content:
          application/json:
            schema:
              properties:
                groupId:
                  description: Group ID to query.
                  example: 101
                  format: int64
                  type: integer
              required:
              - groupId
              type: object
        description: Group ID to query.
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
          description: List of vehicles and maintenance information about each.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/maintenance/list
      tags:
      - Fleet
      x-codegen-request-body-name: groupParam
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
  /fleet/set_data:
    post:
      description: This method enables the mutation of metadata for vehicles in the Samsara Cloud.
      operationId: update_vehicles
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_14'
        content:
          application/json:
            schema:
              properties:
                groupId:
                  description: Group ID to query.
                  example: 101
                  format: int64
                  type: integer
                vehicles:
                  items:
                    $ref: '#/components/schemas/Vehicle'
                  type: array
              required:
              - groupId
              - vehicles
              type: object
        required: true
      responses:
        200:
          content: {}
          description: Vehicles were successfully updated. No response body is returned.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/set_data
      tags:
      - Fleet
      x-codegen-request-body-name: vehicleUpdateParam
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
  /fleet/trips:
    post:
      description: Get historical trips data for specified vehicle. This method returns a set of historical trips data for the specified vehicle in the specified time range.
      operationId: get_fleet_trips
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_15'
        content:
          application/json:
            schema:
              properties:
                endMs:
                  description: End of the time range, specified in milliseconds UNIX time.
                  example: 1462881998034
                  type: integer
                groupId:
                  description: Group ID to query.
                  example: 101
                  format: int64
                  type: integer
                startMs:
                  description: Beginning of the time range, specified in milliseconds UNIX time. Limited to a 90 day window with respect to startMs and endMs
                  example: 1462878398034
                  type: integer
                vehicleId:
                  description: Vehicle ID to query.
                  example: 112
                  format: int64
                  type: integer
              required:
              - endMs
              - groupId
              - startMs
              - vehicleId
              type: object
        description: Group ID, vehicle ID and time range to query.
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripResponse'
          description: List of trips taken by the requested vehicle within the specified timeframe.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/trips
      tags:
      - Fleet
      x-codegen-request-body-name: tripsParam
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
  /fleet/vehicles/locations:
    get:
      description: Fetch locations for a given vehicle between a start/end time. The maximum query duration is 30 minutes.
      operationId: get_vehicles_locations
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: Time in Unix epoch milliseconds for the start of the query (cannot exceed 30 minutes)
        in: query
        name: start_ms
        required: true
        schema:
          type: integer
      - description: Time in Unix epoch milliseconds for the end of the query (cannot exceed 30 minutes)
        in: query
        name: end_ms
        required: true
        schema:
          type: integer
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FleetVehiclesLocations'
          description: Returns locations for a given vehicle between a start/end time, with a maximum query duration of 30 minutes.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/vehicles/locations
      tags:
      - Fleet
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
  /fleet/vehicles/stats:
    get:
      description: Fetch engine state and aux input data for all vehicles in the group between a start/end time. Data returned may be affected by device connectivity and processing time.
      operationId: get_vehicle_stats
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: Time in Unix epoch milliseconds for the start of the query.
        in: query
        name: start_ms
        required: true
        schema:
          type: integer
      - description: Time in Unix epoch milliseconds for the end of the query.
        in: query
        name: end_ms
        required: true
        schema:
          type: integer
      - description: 'Comma-separated list of stat types. Options are engineState,
          auxInput1, and auxInput2. If this parameter is excluded, all 3 stat types
          will be returned. Example: series=engineState,auxInput2'
        in: query
        name: series
        schema:
          enum:
          - engineState
          - auxInput1
          - auxInput2
          type: string
      - description: 'Comma-separated list of tag ids. Example: tagIds=1,2,3'
        in: query
        name: tag_ids
        schema:
          type: string
      - description: Pagination parameter indicating the cursor position to continue returning results after. Used in conjunction with the 'limit' parameter. Mutually exclusive with 'endingBefore' parameter.
        in: query
        name: starting_after
        schema:
          type: string
      - description: Pagination parameter indicating the cursor position to return results before. Used in conjunction with the 'limit' parameter. Mutually exclusive with 'startingAfter' parameter.
        in: query
        name: ending_before
        schema:
          type: string
      - description: Pagination parameter indicating the number of results to return in this request. Used in conjunction with either 'startingAfter' or 'endingBefore'.
        in: query
        name: limit
        schema:
          format: int64
          type: integer
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
          description: Returns engine state and/or aux input data for all vehicles in the group between a start/end time.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/vehicles/stats
      tags:
      - Fleet
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
  /fleet/vehicles/{vehicle_id_or_external_id}:
    get:
      description: Gets a specific vehicle.
      operationId: get_fleet_vehicle
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: ID of the vehicle.  This must be either the numeric ID generated by Samsara or the external ID of the vehicle.  External IDs are customer specified key-value pairs.
        in: path
        name: vehicle_id_or_external_id
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FleetVehicleResponse'
          description: The specified vehicle.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/vehicles/{vehicle_id:[0-9]+ | external_id:[a-zA-Z0-9]+}
      tags:
      - Fleet
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
    patch:
      description: 'Updates the specified vehicle using JSON merge patch format. See
        IETF RFC 7396: https://tools.ietf.org/html/rfc7396.'
      operationId: patch_fleet_vehicle
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: ID of the vehicle.  This must be either the numeric ID generated by Samsara or the external ID of the vehicle.  External IDs are customer specified key-value pairs.
        in: path
        name: vehicle_id_or_external_id
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_16'
        content:
          application/json:
            schema:
              properties:
                externalIds:
                  additionalProperties:
                    type: string
                  example:
                    maintenanceId: ABFS18600
                  type: object
                harsh_accel_setting:
                  description: |-
                    Harsh Event Detection Setting
                    * 0: Passenger
                    * 1: Light Truck
                    * 2: Heavy
                    * 3: Off
                    * 4: Automatic
                  format: string
                  type: integer
                name:
                  description: Name
                  type: string
              type: object
          application/merge-patch+json:
            schema:
              properties:
                externalIds:
                  additionalProperties:
                    type: string
                  example:
                    maintenanceId: ABFS18600
                  type: object
                harsh_accel_setting:
                  description: |-
                    Harsh Event Detection Setting
                    * 0: Passenger
                    * 1: Light Truck
                    * 2: Heavy
                    * 3: Off
                    * 4: Automatic
                  format: string
                  type: integer
                name:
                  description: Name
                  type: string
              type: object
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FleetVehicleResponse'
          description: The updated vehicle.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/vehicles/{vehicle_id:[0-9]+ | external_id:[a-zA-Z0-9]+}
      tags:
      - Fleet
      x-codegen-request-body-name: data
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
  /fleet/vehicles/{vehicle_id}/dispatch/routes:
    get:
      description: Fetch all of the dispatch routes for a given vehicle.
      operationId: get_dispatch_routes_by_vehicle_id
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: ID of the vehicle with the associated routes.
        in: path
        name: vehicle_id
        required: true
        schema:
          format: int64
          type: integer
      - description: Time in unix milliseconds that represents the oldest routes to return. Used in combination with duration. Defaults to now.
        in: query
        name: end_time
        schema:
          format: int64
          type: integer
      - description: Time in milliseconds that represents the duration before end_time to query. Defaults to 24 hours.
        in: query
        name: duration
        schema:
          format: int64
          type: integer
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DispatchRoutes'
          description: Returns all of the dispatch routes for the given vehicle_id.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/vehicles/{vehicle_id:[0-9]+}/dispatch/routes
      tags:
      - Fleet
      - Routes
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
    post:
      description: Create a new dispatch route for the vehicle with vehicle_id.
      operationId: create_vehicle_dispatch_route
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: ID of the vehicle with the associated routes.
        in: path
        name: vehicle_id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DispatchRouteCreate'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DispatchRoute'
          description: Created route object including the new route ID.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/vehicles/{vehicle_id:[0-9]+}/dispatch/routes
      tags:
      - Fleet
      - Routes
      x-codegen-request-body-name: createDispatchRouteParams
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
  /fleet/vehicles/{vehicle_id}/locations:
    get:
      description: Fetch locations for a given vehicle between a start/end time. The maximum query duration is one hour.
      operationId: get_vehicle_locations
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: ID of the vehicle with the associated routes.
        in: path
        name: vehicle_id
        required: true
        schema:
          format: int64
          type: integer
      - description: Time in Unix epoch milliseconds for the start of the query (cannot exceed 1 hour)
        in: query
        name: start_ms
        required: true
        schema:
          format: int64
          type: integer
      - description: Time in Unix epoch milliseconds for the end of the query (cannot exceed 1 hour)
        in: query
        name: end_ms
        required: true
        schema:
          format: int64
          type: integer
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FleetVehicleLocations'
          description: Returns locations for a given vehicle between a start/end time, with a maximum query duration of one hour.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/vehicles/{vehicle_id:[0-9]+}/locations
      tags:
      - Fleet
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
  /fleet/vehicles/{vehicle_id}/safety/harsh_event:
    get:
      description: Fetch harsh event details for a vehicle.
      operationId: get_vehicle_harsh_event
      parameters:
      - description: ID of the vehicle
        in: path
        name: vehicle_id
        required: true
        schema:
          format: int64
          type: integer
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: Timestamp in milliseconds representing the timestamp of a harsh event.
        in: query
        name: timestamp
        required: true
        schema:
          format: int64
          type: integer
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleHarshEventResponse'
          description: Harsh event details.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/vehicles/{vehicleId:[0-9]+}/safety/harsh_event
      tags:
      - Fleet
      - Safety
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
  /fleet/vehicles/{vehicle_id}/safety/score:
    get:
      description: Fetch the safety score for the vehicle.
      operationId: get_vehicle_safety_score
      parameters:
      - description: ID of the vehicle
        in: path
        name: vehicle_id
        required: true
        schema:
          format: int64
          type: integer
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: Timestamp in milliseconds representing the start of the period to fetch, inclusive. Used in combination with endMs.
        in: query
        name: start_ms
        required: true
        schema:
          format: int64
          type: integer
      - description: Timestamp in milliseconds representing the end of the period to fetch, inclusive. Used in combination with startMs.
        in: query
        name: end_ms
        required: true
        schema:
          format: int64
          type: integer
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleSafetyScoreResponse'
          description: Safety score details.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /fleet/vehicles/{vehicleId:[0-9]+}/safety/score
      tags:
      - Fleet
      - Safety
      x-openapi-router-controller: openapi_server.controllers.fleet_controller
  /industrial/data:
    get:
      description: Fetch all of the data inputs for a group.
      operationId: get_all_data_inputs
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: Optional group ID if the organization has multiple groups (uncommon).
        in: query
        name: group_id
        schema:
          format: int64
          type: integer
      - description: Timestamp in unix milliseconds representing the start of the period to fetch, inclusive. Used in combination with endMs. defaults to nowMs.
        in: query
        name: start_ms
        schema:
          format: int64
          type: integer
      - description: Timestamp in unix milliseconds representing the end of the period to fetch, inclusive. Used in combination with startMs. Defaults to nowMs.
        in: query
        name: end_ms
        schema:
          format: int64
          type: integer
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
          description: List of data inputs.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /industrial/data
      tags:
      - Industrial
      x-openapi-router-controller: openapi_server.controllers.industrial_controller
  /industrial/data/{data_input_id}:
    get:
      description: Fetch datapoints from a given data input.
      operationId: get_data_input
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      - description: ID of the data input
        in: path
        name: data_input_id
        required: true
        schema:
          format: int64
          type: integer
      - description: Timestamp in unix milliseconds representing the start of the period to fetch, inclusive. Used in combination with endMs. defaults to nowMs.
        in: query
        name: start_ms
        schema:
          format: int64
          type: integer
      - description: Timestamp in unix milliseconds representing the end of the period to fetch, inclusive. Used in combination with startMs. Defaults to nowMs.
        in: query
        name: end_ms
        schema:
          format: int64
          type: integer
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataInputHistoryResponse'
          description: Returns datapoints for the given data input
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /industrial/data/{data_input_id:[0-9]+}
      tags:
      - Industrial
      x-openapi-router-controller: openapi_server.controllers.industrial_controller
  /machines/history:
    post:
      description: Get historical data for machine objects. This method returns a set of historical data for all machines in a group
      operationId: get_machines_history
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_17'
        content:
          application/json:
            schema:
              properties:
                endMs:
                  description: End of the time range, specified in milliseconds UNIX time.
                  example: 1462881998034
                  type: integer
                groupId:
                  description: Group ID to query.
                  example: 101
                  format: int64
                  type: integer
                startMs:
                  description: Beginning of the time range, specified in milliseconds UNIX time.
                  example: 1462878398034
                  type: integer
              required:
              - endMs
              - groupId
              - startMs
              type: object
        description: Group ID and time range to query for events
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineHistoryResponse'
          description: List of machine results objects, each containing a time and a datapoint.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /machines/history
      tags:
      - Industrial
      x-codegen-request-body-name: historyParam
      x-openapi-router-controller: openapi_server.controllers.industrial_controller
  /machines/list:
    post:
      description: Get machine objects. This method returns a list of the machine objects in the Samsara Cloud and information about them.
      operationId: get_machines
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_18'
        content:
          application/json:
            schema:
              properties:
                groupId:
                  description: Group ID to query.
                  example: 101
                  format: int64
                  type: integer
              required:
              - groupId
              type: object
        description: Group ID to query.
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
          description: List of machine objects.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /machines/list
      tags:
      - Industrial
      x-codegen-request-body-name: groupParam
      x-openapi-router-controller: openapi_server.controllers.industrial_controller
  /sensors/cargo:
    post:
      description: Get cargo monitor status (empty / full) for requested sensors.
      operationId: get_sensors_cargo
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_19'
        content:
          application/json:
            schema:
              properties:
                groupId:
                  description: Group ID to query.
                  example: 101
                  format: int64
                  type: integer
                sensors:
                  description: List of sensor IDs to query.
                  example:
                  - 122
                  items:
                    format: int64
                    type: integer
                  type: array
              required:
              - groupId
              - sensors
              type: object
        description: Group ID and list of sensor IDs to query.
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CargoResponse'
          description: List of sensor objects containing the current cargo status reported by each sensor.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /sensors/cargo
      tags:
      - Sensors
      x-codegen-request-body-name: sensorParam
      x-openapi-router-controller: openapi_server.controllers.sensors_controller
  /sensors/door:
    post:
      description: Get door monitor status (closed / open) for requested sensors.
      operationId: get_sensors_door
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_20'
        content:
          application/json:
            schema:
              properties:
                groupId:
                  description: Group ID to query.
                  example: 101
                  format: int64
                  type: integer
                sensors:
                  description: List of sensor IDs to query.
                  example:
                  - 122
                  items:
                    format: int64
                    type: integer
                  type: array
              required:
              - groupId
              - sensors
              type: object
        description: Group ID and list of sensor IDs to query.
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DoorResponse'
          description: List of sensor objects containing the current door status reported by each sensor.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error.
      summary: /sensors/door
      tags:
      - Sensors
      x-codegen-request-body-name: sensorParam
      x-openapi-router-controller: openapi_server.controllers.sensors_controller
  /sensors/history:
    post:
      description: Get historical data for specified sensors. This method returns a set of historical data for the specified sensors in the specified time range and at the specified time resolution.
      operationId: get_sensors_history
      parameters:
      - description: Samsara API access token.
        in: query
        name: access_token
[...]
