{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Samsara API",
    "description" : "# Introduction\n\nSamsara provides API endpoints for interacting with Samsara Cloud, so that you can build powerful applications and custom solutions with sensor data. Samsara has endpoints available to track and analyze sensors, vehicles, and entire fleets.\n\nThe Samsara Cloud API is a [RESTful API](https://en.wikipedia.org/wiki/Representational_state_transfer) accessed by an [HTTP](https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol) client such as wget or curl, or HTTP libraries of most modern programming languages including python, ruby, java. We use built-in HTTP features, like HTTP authentication and HTTP verbs, which are understood by off-the-shelf HTTP clients. We allow you to interact securely with our API from a client-side web application (though you should never expose your secret API key). [JSON](http://www.json.org/) is returned by all API responses, including errors. If you’re familiar with what you can build with a REST API, the following API reference guide will be your go-to resource.\n\nAPI access to the Samsara cloud is available to all Samsara administrators. To start developing with Samsara APIs you will need to [obtain your API keys](#section/Authentication) to authenticate your API requests.\n\nIf you have any questions you can reach out to us on [support@samsara.com](mailto:support@samsara.com)\n\n# Endpoints\n\nAll our APIs can be accessed through HTTP requests to URLs like:\n\n```curl\nhttps://api.samsara.com/<version>/<endpoint>\n```\n\nAll our APIs are [versioned](#section/Versioning). If we intend to make breaking changes to an API which either changes the response format or request parameter, we will increment the version.\n\n# Authentication\n\nTo authenticate your API request you will need to include your secret token. You can manage your API tokens in the [Dashboard](https://cloud.samsara.com). They are visible under `Settings->Organization->API Tokens`.\n\nYour API tokens carry many privileges, so be sure to keep them secure. Do not share your secret API tokens in publicly accessible areas such as GitHub, client-side code, and so on.\n\nAuthentication to the API is performed via [HTTP Basic Auth](https://en.wikipedia.org/wiki/Basic_access_authentication). Provide your API token as the basic access_token value in the URL. You do not need to provide a password.\n\n```curl\nhttps://api.samsara.com/<version>/<endpoint>?access_token={access_token}\n```\n\nAll API requests must be made over [HTTPS](https://en.wikipedia.org/wiki/HTTPS). Calls made over plain HTTP or without authentication will fail.\n\n# Request Methods\n\nOur API endpoints use [HTTP request methods](https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol#Request_methods) to specify the desired operation to be performed. The documentation below specified request method supported by each endpoint and the resulting action.\n\n## GET\n\nGET requests are typically used for fetching data (like data for a particular driver).\n\n## POST\n\nPOST requests are typically used for creating or updating a record (like adding new tags to the system). With that being said, a few of our POST requests can be used for fetching data (like current location data of your fleet).\n\n## PUT\n\nPUT requests are typically used for updating an existing record (like updating all devices associated with a particular tag).\n\n## PATCH\n\nPATCH requests are typically used for modifying an existing record (like modifying a few devices associated with a particular tag).\n\n## DELETE\n\nDELETE requests are used for deleting a record (like deleting a tag from the system).\n\n# Response Codes\n\nAll API requests will respond with appropriate [HTTP status code](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes). Your API client should handle each response class differently.\n\n## 2XX\n\nThese are successful responses and indicate that the API request returned the expected response.\n\n## 4XX\n\nThese indicate that there was a problem with the request like a missing parameter or invalid values. Check the response for specific [error details](#section/Error-Responses). Requests that respond with a 4XX status code, should be modified before retrying.\n\n## 5XX\n\nThese indicate server errors when the server is unreachable or is misconfigured. In this case, you should retry the API request after some delay.\n\n# Error Responses\n\nIn case of a 4XX status code, the body of the response will contain information to briefly explain the error reported. To help debugging the error, you can refer to the following table for understanding the error message.\n\n| Status Code | Message | Description |\n|-------------|----------------|-------------------------------------------------------------------|\n| 401 | Invalid token | The API token is invalid and could not be authenticated. Please refer to the [authentication section](#section/Authentication). |\n| 404 | Page not found | The API endpoint being accessed is invalid. |\n| 400 | Bad request | Default response for an invalid request. Please check the request to make sure it follows the format specified in the documentation. |\n\n# Versioning\n\nAll our APIs are versioned. Our current API version is `v1` and we are continuously working on improving it further and provide additional endpoints. If we intend to make breaking changes to an API which either changes the response format or request parameter, we will increment the version. Thus, you can use our current API version worry free.\n\n# FAQs\n\nCheck out our [responses to FAQs here](https://kb.samsara.com/hc/en-us/sections/360000538054-APIs). Don’t see an answer to your question? Reach out to us on [support@samsara.com](mailto:support@samsara.com).",
    "version" : "1.0.0"
  },
  "servers" : [ {
    "url" : "https://api.samsara.com/v1"
  } ],
  "tags" : [ {
    "name" : "Fleet",
    "description" : "Access to fleet data"
  }, {
    "name" : "Industrial",
    "description" : "Access to industrial data"
  }, {
    "name" : "Sensors",
    "description" : "Access to sensor data"
  }, {
    "name" : "Assets",
    "description" : "Access to asset specific data"
  }, {
    "name" : "Safety",
    "description" : "Access to safety specific data"
  }, {
    "name" : "Users",
    "description" : "Access to user data"
  } ],
  "paths" : {
    "/addresses" : {
      "get" : {
        "tags" : [ "Fleet" ],
        "summary" : "/addresses",
        "description" : "Fetch all addresses/geofences for the organization. An address contains either a circle or polygon geofence describing the address boundaries.",
        "operationId" : "GetOrganizationAddresses",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of addresses/geofences. For each address entry, the geofence field will only be populated with either 'circle' or 'polygon', depending on the geofence type.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Address"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-accepts" : "application/json"
      },
      "post" : {
        "tags" : [ "Fleet" ],
        "summary" : "/addresses",
        "description" : "Add one or more addresses to the organization",
        "operationId" : "AddOrganizationAddresses",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "List of addresses/geofences to add. Geofences can be circular or a polygon. \nFor each address, only one of 'circle' or 'polygon' should be provided. If both are provided, the geofence will be saved as a polygon.",
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "addresses" ],
                "type" : "object",
                "properties" : {
                  "addresses" : {
                    "type" : "array",
                    "items" : {
                      "$ref" : "#/components/schemas/_addresses_addresses"
                    }
                  }
                }
              }
            }
          },
          "required" : true,
          "$ref" : "#/components/requestBodies/inline_object"
        },
        "responses" : {
          "200" : {
            "description" : "List of added addresses/geofences. For each address entry, the geofence field will only be populated with either 'circle' or 'polygon', depending on the geofence type. Circle geofences added without a specific lat/lng are geocoded asynchronously, and will be 0,0 in the immediate response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Address"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "addresses",
        "x-contentType" : "application/json",
        "x-accepts" : "application/json"
      }
    },
    "/addresses/{addressId}" : {
      "get" : {
        "tags" : [ "Fleet" ],
        "summary" : "/addresses/{addressId}",
        "description" : "Fetch an address by its id.",
        "operationId" : "GetOrganizationAddress",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "addressId",
          "in" : "path",
          "description" : "ID of the address/geofence",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The address/geofence. The geofence field will only be populated with either 'circle' or 'polygon', depending on the geofence type.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Address"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-accepts" : "application/json"
      },
      "delete" : {
        "tags" : [ "Fleet" ],
        "summary" : "/addresses/{addressId}",
        "description" : "Delete an address.",
        "operationId" : "DeleteOrganizationAddress",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "addressId",
          "in" : "path",
          "description" : "ID of the address/geofence",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Address was successfully deleted. No response body is returned.",
            "content" : { }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-accepts" : "application/json"
      },
      "patch" : {
        "tags" : [ "Fleet" ],
        "summary" : "/addresses/{addressId}",
        "description" : "Update the name, formatted address, geofence, notes, or tag and contact Ids for an address. The set of tags or contacts associated with this address will be updated to exactly match the list of IDs passed in. To remove all tags or contacts from an address, pass an empty list; to remove notes, pass an empty string.",
        "operationId" : "UpdateOrganizationAddress",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "addressId",
          "in" : "path",
          "description" : "ID of the address/geofence",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "Update parts of an address's value. If the geofence 'circle' or 'polygon' key is specified, the update will change the type of geofence accordingly.",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "contactIds" : {
                    "type" : "array",
                    "description" : "A list of IDs for contact book entries.",
                    "items" : {
                      "type" : "integer",
                      "format" : "int64",
                      "example" : 123
                    }
                  },
                  "formattedAddress" : {
                    "type" : "string",
                    "description" : "The full address associated with this address/geofence, as it might be recognized by maps.google.com",
                    "example" : "350 Rhode Island St, San Francisco, CA"
                  },
                  "geofence" : {
                    "$ref" : "#/components/schemas/AddressGeofence"
                  },
                  "name" : {
                    "type" : "string",
                    "description" : "The name of this address/geofence",
                    "example" : "Samsara HQ"
                  },
                  "notes" : {
                    "type" : "string",
                    "description" : "Notes associated with an address.",
                    "example" : "Delivery site 1"
                  },
                  "tagIds" : {
                    "type" : "array",
                    "description" : "A list of tag IDs.",
                    "items" : {
                      "type" : "integer",
                      "format" : "int64",
                      "example" : 123
                    }
                  }
                }
              }
            }
          },
          "required" : true,
          "$ref" : "#/components/requestBodies/inline_object_1"
        },
        "responses" : {
          "200" : {
            "description" : "Address was successfully updated. No response body is returned.",
            "content" : { }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "address",
        "x-contentType" : "application/json",
        "x-accepts" : "application/json"
      }
    },
    "/contacts" : {
      "get" : {
        "tags" : [ "Fleet" ],
        "summary" : "/contacts",
        "description" : "Fetch all contacts for the organization.",
        "operationId" : "ListContacts",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of contacts.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Contact"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-accepts" : "application/json"
      }
    },
    "/contacts/{contact_id}" : {
      "get" : {
        "tags" : [ "Fleet" ],
        "summary" : "/contacts/{contact_id}",
        "description" : "Fetch a contact by its id.",
        "operationId" : "GetOrganizationContact",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "contact_id",
          "in" : "path",
          "description" : "ID of the contact",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The contact.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Contact"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-accepts" : "application/json"
      }
    },
    "/fleet/add_address" : {
      "post" : {
        "tags" : [ "Fleet" ],
        "summary" : "/fleet/add_address",
        "description" : "This method adds an address book entry to the specified group.",
        "operationId" : "add_fleet_address",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "address", "groupId", "name", "radius" ],
                "type" : "object",
                "properties" : {
                  "address" : {
                    "type" : "string",
                    "description" : "The address of the entry to add, as it would be recognized if provided to maps.google.com.",
                    "example" : "501 York St"
                  },
                  "groupId" : {
                    "type" : "integer",
                    "description" : "Group ID to query.",
                    "format" : "int64",
                    "example" : 101
                  },
                  "name" : {
                    "type" : "string",
                    "description" : "Name of the location to add to the address book.",
                    "example" : "HQ"
                  },
                  "radius" : {
                    "type" : "integer",
                    "description" : "Radius in meters of the address (used for matching vehicle trip stops to this location).",
                    "example" : 10
                  }
                }
              }
            }
          },
          "required" : true,
          "$ref" : "#/components/requestBodies/inline_object_2"
        },
        "responses" : {
          "200" : {
            "description" : "Address was successfully added. No response body is returned.",
            "content" : { }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "addressParam",
        "x-contentType" : "application/json",
        "x-accepts" : "application/json"
      }
    },
    "/fleet/assets" : {
      "get" : {
        "tags" : [ "Fleet", "Assets" ],
        "summary" : "/fleet/assets",
        "description" : "Fetch all of the assets for the group.",
        "operationId" : "GetAllAssets",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "group_id",
          "in" : "query",
          "description" : "Optional group ID if the organization has multiple groups (uncommon).",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of assets.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-accepts" : "application/json"
      }
    },
    "/fleet/assets/locations" : {
      "get" : {
        "tags" : [ "Fleet", "Assets" ],
        "summary" : "/fleet/assets/locations",
        "description" : "Fetch current locations of all assets for the group.",
        "operationId" : "GetAllAssetCurrentLocations",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "group_id",
          "in" : "query",
          "description" : "Optional group ID if the organization has multiple groups (uncommon).",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of assets and their current locations.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_1"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-accepts" : "application/json"
      }
    },
    "/fleet/assets/{asset_id}/locations" : {
      "get" : {
        "tags" : [ "Fleet", "Assets" ],
        "summary" : "/fleet/assets/{assetId:[0-9]+}/locations",
        "description" : "Fetch the historical locations for the asset.",
        "operationId" : "GetAssetLocation",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "asset_id",
          "in" : "path",
          "description" : "ID of the asset",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "startMs",
          "in" : "query",
          "description" : "Timestamp in milliseconds representing the start of the period to fetch, inclusive. Used in combination with endMs.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "endMs",
          "in" : "query",
          "description" : "Timestamp in milliseconds representing the end of the period to fetch, inclusive. Used in combination with startMs.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Asset location details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AssetLocationResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-accepts" : "application/json"
      }
    },
    "/fleet/assets/{asset_id}/reefer" : {
      "get" : {
        "tags" : [ "Fleet", "Assets" ],
        "summary" : "/fleet/assets/{assetId:[0-9]+}/reefer",
        "description" : "Fetch the reefer-specific stats of an asset.",
        "operationId" : "GetAssetReefer",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "asset_id",
          "in" : "path",
          "description" : "ID of the asset",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "startMs",
          "in" : "query",
          "description" : "Timestamp in milliseconds representing the start of the period to fetch, inclusive. Used in combination with endMs.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "endMs",
          "in" : "query",
          "description" : "Timestamp in milliseconds representing the end of the period to fetch, inclusive. Used in combination with startMs.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Reefer-specific asset details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AssetReeferResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-accepts" : "application/json"
      }
    },
    "/fleet/dispatch/routes" : {
      "get" : {
        "tags" : [ "Fleet", "Routes" ],
        "summary" : "/fleet/dispatch/routes",
        "description" : "Fetch all of the dispatch routes for the group.",
        "operationId" : "fetchAllDispatchRoutes",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "group_id",
          "in" : "query",
          "description" : "Optional group ID if the organization has multiple groups (uncommon).",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "end_time",
          "in" : "query",
          "description" : "Time in unix milliseconds that represents the oldest routes to return. Used in combination with duration. Defaults to now.",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "duration",
          "in" : "query",
          "description" : "Time in milliseconds that represents the duration before end_time to query. Defaults to 24 hours.",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "All dispatch route objects for the group.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DispatchRoutes"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-accepts" : "application/json"
      },
      "post" : {
        "tags" : [ "Fleet", "Routes" ],
        "summary" : "/fleet/dispatch/routes",
        "description" : "Create a new dispatch route.",
        "operationId" : "createDispatchRoute",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DispatchRouteCreate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Created route object including the new route ID.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DispatchRoute"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "createDispatchRouteParams",
        "x-contentType" : "application/json",
        "x-accepts" : "application/json"
      }
    },
    "/fleet/dispatch/routes/job_updates" : {
      "get" : {
        "tags" : [ "Fleet", "Routes" ],
        "summary" : "/fleet/dispatch/routes/job_updates",
        "description" : "Fetch all updates to a job including route data in the last 24 hours or subsequent to an sequence ID",
        "operationId" : "fetchAllRouteJobUpdates",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "group_id",
          "in" : "query",
          "description" : "Optional group ID if the organization has multiple groups (uncommon).",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "sequence_id",
          "in" : "query",
          "description" : "Sequence ID from the response payload of the last request. Defaults to fetching updates from last 24 hours.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Optionally set include=route to include route object in response payload.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "All job updates on routes.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/allRouteJobUpdates"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-accepts" : "application/json"
      }
    },
    "/fleet/dispatch/routes/{route_id}" : {
      "get" : {
        "tags" : [ "Fleet", "Routes" ],
        "summary" : "/fleet/dispatch/routes/{route_id:[0-9]+}",
        "description" : "Fetch a dispatch route by id.",
        "operationId" : "getDispatchRouteById",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "route_id",
          "in" : "path",
          "description" : "ID of the dispatch route.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The dispatch route corresponding to route_id.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DispatchRoute"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-accepts" : "application/json"
      },
      "put" : {
        "tags" : [ "Fleet", "Routes" ],
        "summary" : "/fleet/dispatch/routes/{route_id:[0-9]+}/",
        "description" : "Update a dispatch route and its associated jobs.",
        "operationId" : "updateDispatchRouteById",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "route_id",
          "in" : "path",
          "description" : "ID of the dispatch route.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DispatchRoute"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Update the dispatch route. Allowable updates include setting job state, adding or removing jobs, and changing job locations and times.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DispatchRoute"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "updateDispatchRouteParams",
        "x-contentType" : "application/json",
        "x-accepts" : "application/json"
      },
      "delete" : {
        "tags" : [ "Fleet", "Routes" ],
        "summary" : "/fleet/dispatch/routes/{route_id:[0-9]+}/",
        "description" : "Delete a dispatch route and its associated jobs.",
        "operationId" : "deleteDispatchRouteById",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "route_id",
          "in" : "path",
          "description" : "ID of the dispatch route.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted the dispatch route. No response body is returned.",
            "content" : { }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-accepts" : "application/json"
      }
    },
    "/fleet/dispatch/routes/{route_id}/history" : {
      "get" : {
        "tags" : [ "Fleet", "Routes" ],
        "summary" : "/fleet/dispatch/routes/{route_id:[0-9]+}/history",
        "description" : "Fetch the history of a dispatch route.",
        "operationId" : "getDispatchRouteHistory",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "start_time",
          "in" : "query",
          "description" : "Timestamp representing the start of the period to fetch, inclusive. Used in combination with end_time. Defaults to 0.",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "end_time",
          "in" : "query",
          "description" : "Timestamp representing the end of the period to fetch, inclusive. Used in combination with start_time. Defaults to nowMs.",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "route_id",
          "in" : "path",
          "description" : "ID of the route with history.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The historical route state changes between start_time and end_time.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DispatchRouteHistory"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-accepts" : "application/json"
      }
    },
    "/fleet/drivers" : {
      "post" : {
        "tags" : [ "Fleet" ],
        "summary" : "/fleet/drivers",
        "description" : "Get all the drivers for the specified group.",
        "operationId" : "get_fleet_drivers",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "groupId" ],
                "type" : "object",
                "properties" : {
                  "groupId" : {
                    "type" : "integer",
                    "description" : "Group ID to query.",
                    "format" : "int64",
                    "example" : 101
                  }
                }
              }
            }
          },
          "required" : true,
          "$ref" : "#/components/requestBodies/inline_object_3"
        },
        "responses" : {
          "200" : {
            "description" : "All drivers in the group.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DriversResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "groupDriversParam",
        "x-contentType" : "application/json",
        "x-accepts" : "application/json"
      }
    },
    "/fleet/drivers/create" : {
      "post" : {
        "tags" : [ "Fleet", "Drivers" ],
        "summary" : "/fleet/drivers/create",
        "description" : "Create a new driver.",
        "operationId" : "createDriver",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Driver creation body",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DriverForCreate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Returns the successfully created the driver.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Driver"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "createDriverParam",
        "x-contentType" : "application/json",
        "x-accepts" : "application/json"
      }
    },
    "/fleet/drivers/document_types" : {
      "get" : {
        "tags" : [ "Fleet" ],
        "summary" : "/fleet/drivers/document_types",
        "description" : "Fetch all of the document types.",
        "operationId" : "getDriverDocumentTypesByOrgId",
        "responses" : {
          "200" : {
            "description" : "Returns all of the document types.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DocumentTypes"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-accepts" : "application/json"
      }
    },
    "/fleet/drivers/documents" : {
      "get" : {
        "tags" : [ "Fleet" ],
        "summary" : "/fleet/drivers/documents",
        "description" : "Fetch all of the documents.",
        "operationId" : "getDriverDocumentsByOrgId",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "endMs",
          "in" : "query",
          "description" : "Time in unix milliseconds that represents the oldest documents to return. Used in combination with durationMs. Defaults to now.",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "durationMs",
          "in" : "query",
          "description" : "Time in milliseconds that represents the duration before endMs to query. Defaults to 24 hours.",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns all of the documents.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Documents"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-accepts" : "application/json"
      }
    },
    "/fleet/drivers/inactive" : {
      "get" : {
        "tags" : [ "Fleet", "Drivers" ],
        "summary" : "/fleet/drivers/inactive",
        "description" : "Fetch all deactivated drivers for the group.",
        "operationId" : "getAllDeactivatedDrivers",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "group_id",
          "in" : "query",
          "description" : "Optional group ID if the organization has multiple groups (uncommon).",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns an array of all deactivated drivers for the group. Deactivated drivers are referenced at /fleet/drivers/inactive/{driver_id}",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Driver"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-accepts" : "application/json"
      }
    },
    "/fleet/drivers/inactive/{driver_id_or_external_id}" : {
      "get" : {
        "tags" : [ "Fleet", "Drivers" ],
        "summary" : "/fleet/drivers/inactive/{driver_id:[0-9]+ | external_id:[a-zA-Z0-9]+}",
        "description" : "Fetch deactivated driver by id.",
        "operationId" : "getDeactivatedDriverById",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "driver_id_or_external_id",
          "in" : "path",
          "description" : "ID of the driver.  This must be either the numeric ID generated by Samsara or the external ID of the driver.  External IDs are customer specified key-value pairs.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns the deactivated driver with the given driver_id.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Driver"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-accepts" : "application/json"
      },
      "put" : {
        "tags" : [ "Fleet", "Drivers" ],
        "summary" : "/fleet/drivers/inactive/{driver_id:[0-9]+ | external_id:[a-zA-Z0-9]+}",
        "description" : "Reactivate the inactive driver having id.",
        "operationId" : "reactivateDriverById",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "driver_id_or_external_id",
          "in" : "path",
          "description" : "ID of the driver.  This must be either the numeric ID generated by Samsara or the external ID of the driver.  External IDs are customer specified key-value pairs.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Driver reactivation body",
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "reactivate" ],
                "type" : "object",
                "properties" : {
                  "reactivate" : {
                    "type" : "boolean",
                    "description" : "True indicates that this driver should be reactivated."
                  }
                }
              }
            }
          },
          "required" : true,
          "$ref" : "#/components/requestBodies/inline_object_4"
        },
        "responses" : {
          "200" : {
            "description" : "Returns the reactivated driver, which is now available at /fleet/drivers/{driver_id}.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CurrentDriver"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "reactivateDriverParam",
        "x-contentType" : "application/json",
        "x-accepts" : "application/json"
      }
    },
    "/fleet/drivers/summary" : {
      "post" : {
        "tags" : [ "Fleet" ],
        "summary" : "/fleet/drivers/summary",
        "description" : "Get the distance and time each driver in an organization has driven in a given time period.",
        "operationId" : "get_fleet_drivers_summary",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "snap_to_day_bounds",
          "in" : "query",
          "description" : "Snap query result to HOS day boundaries.",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "description" : "Org ID and time range to query.",
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "endMs", "orgId", "startMs" ],
                "type" : "object",
                "properties" : {
                  "endMs" : {
                    "type" : "integer",
                    "description" : "End time (ms) of queried time period.",
                    "format" : "int64",
                    "example" : 1481076244389
                  },
                  "orgId" : {
                    "type" : "integer",
                    "description" : "Org ID to query.",
                    "format" : "int64",
                    "example" : 101
                  },
                  "startMs" : {
                    "type" : "integer",
                    "description" : "Start time (ms) of queried time period.",
                    "format" : "int64",
                    "example" : 1481076243389
                  }
                }
              }
            }
          },
          "required" : true,
          "$ref" : "#/components/requestBodies/inline_object_5"
        },
        "responses" : {
          "200" : {
            "description" : "Distance traveled and time active for each driver in the organization over the specified time period.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DriversSummaryResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "driversSummaryParam",
        "x-contentType" : "application/json",
        "x-accepts" : "application/json"
      }
    },
    "/fleet/drivers/{driverId}/safety/score" : {
      "get" : {
        "tags" : [ "Fleet", "Safety" ],
        "summary" : "/fleet/drivers/{driverId:[0-9]+}/safety/score",
        "description" : "Fetch the safety score for the driver.",
        "operationId" : "GetDriverSafetyScore",
        "parameters" : [ {
          "name" : "driverId",
          "in" : "path",
          "description" : "ID of the driver",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "startMs",
          "in" : "query",
          "description" : "Timestamp in milliseconds representing the start of the period to fetch, inclusive. Used in combination with endMs.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "endMs",
          "in" : "query",
          "description" : "Timestamp in milliseconds representing the end of the period to fetch, inclusive. Used in combination with startMs.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Safety score details.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DriverSafetyScoreResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-accepts" : "application/json"
      }
    },
    "/fleet/drivers/{driver_id_or_external_id}" : {
      "get" : {
        "tags" : [ "Fleet", "Drivers" ],
        "summary" : "/fleet/drivers/{driver_id:[0-9]+ | external_id:[a-zA-Z0-9]+}",
        "description" : "Fetch driver by id.",
        "operationId" : "getDriverById",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "driver_id_or_external_id",
          "in" : "path",
          "description" : "ID of the driver.  This must be either the numeric ID generated by Samsara or the external ID of the driver.  External IDs are customer specified key-value pairs.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns the driver for the given driver_id.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CurrentDriver"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-accepts" : "application/json"
      },
      "delete" : {
        "tags" : [ "Fleet", "Drivers" ],
        "summary" : "/fleet/drivers/{driver_id:[0-9]+ | external_id:[a-zA-Z0-9]+}",
        "description" : "Deactivate a driver with the given id.",
        "operationId" : "deactivateDriver",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "driver_id_or_external_id",
          "in" : "path",
          "description" : "ID of the driver.  This must be either the numeric ID generated by Samsara or the external ID of the driver.  External IDs are customer specified key-value pairs.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deactivated the driver, which is now referenced by /fleet/drivers/inactive/{driver_id}.",
            "content" : { }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-accepts" : "application/json"
      }
    },
    "/fleet/drivers/{driver_id}/dispatch/routes" : {
      "get" : {
        "tags" : [ "Fleet", "Routes" ],
        "summary" : "/fleet/drivers/{driver_id:[0-9]+}/dispatch/routes",
        "description" : "Fetch all of the dispatch routes for a given driver.",
        "operationId" : "getDispatchRoutesByDriverId",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "driver_id",
          "in" : "path",
          "description" : "ID of the driver with the associated routes.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "end_time",
          "in" : "query",
          "description" : "Time in unix milliseconds that represents the oldest routes to return. Used in combination with duration. Defaults to now.",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "duration",
          "in" : "query",
          "description" : "Time in milliseconds that represents the duration before end_time to query. Defaults to 24 hours.",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns the dispatch routes for the given driver_id.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DispatchRoutes"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-accepts" : "application/json"
      },
      "post" : {
        "tags" : [ "Fleet", "Routes" ],
        "summary" : "/fleet/drivers/{driver_id:[0-9]+}/dispatch/routes",
        "description" : "Create a new dispatch route for the driver with driver_id.",
        "operationId" : "createDriverDispatchRoute",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "driver_id",
          "in" : "path",
          "description" : "ID of the driver with the associated routes.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DispatchRouteCreate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Created route object including the new route ID.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DispatchRoute"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "createDispatchRouteParams",
        "x-contentType" : "application/json",
        "x-accepts" : "application/json"
      }
    },
    "/fleet/drivers/{driver_id}/documents" : {
      "post" : {
        "tags" : [ "Fleet" ],
        "summary" : "/fleet/drivers/{driver_id:[0-9]+}/documents",
        "description" : "Create a driver document for the given driver.",
        "operationId" : "createDriverDocument",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "driver_id",
          "in" : "path",
          "description" : "ID of the driver for whom the document is created.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "To create a document for a given document type, the document type's uuid needs to be passed in to documentTypeUuid. The list of fields passed in should match the document type’s list of field types in the correct order. In other words, a field's valueType and value (i.e. only one of: stringValue, numberValue, or photoValue) at index _i_ should match with the document field type’s valueType at index _i_.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DocumentCreate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Returns the created document.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Document"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "createDocumentParams",
        "x-contentType" : "application/json",
        "x-accepts" : "application/json"
      }
    },
    "/fleet/drivers/{driver_id}/hos_daily_logs" : {
      "post" : {
        "tags" : [ "Fleet" ],
        "summary" : "/fleet/drivers/{driver_id:[0-9]+}/hos_daily_logs",
        "description" : "Get summarized daily HOS charts for a specified driver.",
        "operationId" : "get_fleet_drivers_hos_daily_logs",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "driver_id",
          "in" : "path",
          "description" : "ID of the driver with HOS logs.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "driverId", "endMs", "groupId", "startMs" ],
                "type" : "object",
                "properties" : {
                  "driverId" : {
                    "type" : "integer",
                    "description" : "Driver ID to query.",
                    "format" : "int64",
                    "example" : 444
                  },
                  "endMs" : {
                    "type" : "integer",
                    "description" : "End of the time range, specified in milliseconds UNIX time.",
                    "example" : 1462881998034
                  },
                  "groupId" : {
                    "type" : "integer",
                    "description" : "Group ID to query.",
                    "format" : "int64",
                    "example" : 101
                  },
                  "startMs" : {
                    "type" : "integer",
                    "description" : "Beginning of the time range, specified in milliseconds UNIX time.",
                    "example" : 1462878398034
                  }
                }
              }
            }
          },
          "required" : true,
          "$ref" : "#/components/requestBodies/inline_object_6"
        },
        "responses" : {
          "200" : {
            "description" : "Distance traveled and time active for each driver in the organization over the specified time period.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DriverDailyLogResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "hosLogsParam",
        "x-contentType" : "application/json",
        "x-accepts" : "application/json"
      }
    },
    "/fleet/hos_authentication_logs" : {
      "post" : {
        "tags" : [ "Fleet" ],
        "summary" : "/fleet/hos_authentication_logs",
        "description" : "Get the HOS (hours of service) signin and signout logs for the specified driver. Only signout logs include location information.",
        "operationId" : "get_fleet_hos_authentication_logs",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "driverId", "endMs", "groupId", "startMs" ],
                "type" : "object",
                "properties" : {
                  "driverId" : {
                    "type" : "integer",
                    "description" : "Driver ID to query.",
                    "format" : "int64",
                    "example" : 444
                  },
                  "endMs" : {
                    "type" : "integer",
                    "description" : "End of the time range, specified in milliseconds UNIX time.",
                    "example" : 1462881998034
                  },
                  "groupId" : {
                    "type" : "integer",
                    "description" : "Group ID to query.",
                    "format" : "int64",
                    "example" : 101
                  },
                  "startMs" : {
                    "type" : "integer",
                    "description" : "Beginning of the time range, specified in milliseconds UNIX time.",
                    "example" : 1462878398034
                  }
                }
              }
            }
          },
          "required" : true,
          "$ref" : "#/components/requestBodies/inline_object_7"
        },
        "responses" : {
          "200" : {
            "description" : "HOS authentication logs for the specified driver.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HosAuthenticationLogsResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "hosAuthenticationLogsParam",
        "x-contentType" : "application/json",
        "x-accepts" : "application/json"
      }
    },
    "/fleet/hos_logs" : {
      "post" : {
        "tags" : [ "Fleet" ],
        "summary" : "/fleet/hos_logs",
        "description" : "Get the HOS (hours of service) logs for the specified driver. This method returns all the HOS statuses that the driver was in during this time period.",
        "operationId" : "get_fleet_hos_logs",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "driverId", "endMs", "groupId", "startMs" ],
                "type" : "object",
                "properties" : {
                  "driverId" : {
                    "type" : "integer",
                    "description" : "Driver ID to query.",
                    "format" : "int64",
                    "example" : 444
                  },
                  "endMs" : {
                    "type" : "integer",
                    "description" : "End of the time range, specified in milliseconds UNIX time.",
                    "example" : 1462881998034
                  },
                  "groupId" : {
                    "type" : "integer",
                    "description" : "Group ID to query.",
                    "format" : "int64",
                    "example" : 101
                  },
                  "startMs" : {
                    "type" : "integer",
                    "description" : "Beginning of the time range, specified in milliseconds UNIX time.",
                    "example" : 1462878398034
                  }
                }
              }
            }
          },
          "required" : true,
          "$ref" : "#/components/requestBodies/inline_object_8"
        },
        "responses" : {
          "200" : {
            "description" : "HOS logs for the specified driver.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HosLogsResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "hosLogsParam",
        "x-contentType" : "application/json",
        "x-accepts" : "application/json"
      }
    },
    "/fleet/hos_logs_summary" : {
      "post" : {
        "tags" : [ "Fleet" ],
        "summary" : "/fleet/hos_logs_summary",
        "description" : "Get the current HOS status for all drivers in the group.",
        "operationId" : "get_fleet_hos_logs_summary",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "groupId" ],
                "type" : "object",
                "properties" : {
                  "groupId" : {
                    "type" : "integer",
                    "description" : "Group ID to query.",
                    "format" : "int64",
                    "example" : 101
                  }
                }
              }
            }
          },
          "required" : true,
          "$ref" : "#/components/requestBodies/inline_object_9"
        },
        "responses" : {
          "200" : {
            "description" : "HOS logs for the specified driver.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HosLogsSummaryResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "hosLogsParam",
        "x-contentType" : "application/json",
        "x-accepts" : "application/json"
      }
    },
    "/fleet/list" : {
      "post" : {
        "tags" : [ "Fleet" ],
        "summary" : "/fleet/list",
        "description" : "Get list of the vehicles. This method returns a list of the vehicles in the Samsara Cloud and information about them.",
        "operationId" : "list_fleet",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "startingAfter",
          "in" : "query",
          "description" : "Pagination parameter indicating the cursor position to continue returning results after. Used in conjunction with the 'limit' parameter. Mutually exclusive with 'endingBefore' parameter.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "endingBefore",
          "in" : "query",
          "description" : "Pagination parameter indicating the cursor position to return results before. Used in conjunction with the 'limit' parameter. Mutually exclusive with 'startingAfter' parameter.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Pagination parameter indicating the number of results to return in this request. Used in conjunction with either 'startingAfter' or 'endingBefore'.",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "Group ID to query.",
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "groupId" ],
                "type" : "object",
                "properties" : {
                  "groupId" : {
                    "type" : "integer",
                    "description" : "Group ID to query.",
                    "format" : "int64",
                    "example" : 101
                  }
                }
              }
            }
          },
          "required" : true,
          "$ref" : "#/components/requestBodies/inline_object_10"
        },
        "responses" : {
          "200" : {
            "description" : "List of vehicles and information about each.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_2"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "groupParam",
        "x-contentType" : "application/json",
        "x-accepts" : "application/json"
      }
    },
    "/fleet/locations" : {
      "post" : {
        "tags" : [ "Fleet" ],
        "summary" : "/fleet/locations",
        "description" : "Get current location of vehicles in a group. This method returns the current location in latitude and longitude of all vehicles in a requested group.",
        "operationId" : "get_fleet_locations",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Group ID to query.",
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "groupId" ],
                "type" : "object",
                "properties" : {
                  "groupId" : {
                    "type" : "integer",
                    "description" : "Group ID to query.",
                    "format" : "int64",
                    "example" : 101
                  }
                }
              }
            }
          },
          "required" : true,
          "$ref" : "#/components/requestBodies/inline_object_11"
        },
        "responses" : {
          "200" : {
            "description" : "List of vehicle objects containing their location and the time at which that location was logged.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_3"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "groupParam",
        "x-contentType" : "application/json",
        "x-accepts" : "application/json"
      }
    },
    "/fleet/maintenance/dvirs" : {
      "get" : {
        "tags" : [ "Fleet" ],
        "summary" : "/fleet/maintenance/dvirs",
        "description" : "Get DVIRs for the org within provided time constraints",
        "operationId" : "get_dvirs",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "end_ms",
          "in" : "query",
          "description" : "time in millis until the last dvir log.",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "duration_ms",
          "in" : "query",
          "description" : "time in millis which corresponds to the duration before the end_ms.",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "group_id",
          "in" : "query",
          "description" : "Group ID to query.",
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "DVIRs for the specified duration.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DvirListResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-accepts" : "application/json"
      },
      "post" : {
        "tags" : [ "Fleet" ],
        "summary" : "/fleet/maintenance/dvirs",
        "description" : "Create a new dvir, marking a vehicle or trailer safe or unsafe.",
        "operationId" : "create_dvir",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "DVIR creation body",
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "inspectionType", "safe", "userEmail" ],
                "type" : "object",
                "properties" : {
                  "inspectionType" : {
                    "type" : "string",
                    "description" : "Only type 'mechanic' is currently accepted.",
                    "example" : "mechanic",
                    "enum" : [ "mechanic" ]
                  },
                  "mechanicNotes" : {
                    "type" : "string",
                    "description" : "Any notes from the mechanic.",
                    "example" : "Replaced headlight on passenger side."
                  },
                  "odometerMiles" : {
                    "type" : "integer",
                    "description" : "The current odometer of the vehicle.",
                    "example" : 38426
                  },
                  "previousDefectsCorrected" : {
                    "type" : "boolean",
                    "description" : "Whether any previous defects were corrected. If this vehicle or trailer was previously marked unsafe, and this DVIR marks it as safe, either previousDefectsCorrected or previousDefectsIgnored must be true.",
                    "example" : true
                  },
                  "previousDefectsIgnored" : {
                    "type" : "boolean",
                    "description" : "Whether any previous defects were ignored. If this vehicle or trailer was previously marked unsafe, and this DVIR marks it as safe, either previousDefectsCorrected or previousDefectsIgnored must be true.",
                    "example" : false
                  },
                  "safe" : {
                    "type" : "string",
                    "description" : "Whether or not this vehicle or trailer is safe to drive.",
                    "example" : "safe",
                    "enum" : [ "safe", "unsafe" ]
                  },
                  "trailerId" : {
                    "type" : "integer",
                    "description" : "Id of trailer being inspected. Either vehicleId or trailerId must be provided.",
                    "example" : 11
                  },
                  "userEmail" : {
                    "type" : "string",
                    "description" : "The Samsara login email for the person creating the DVIR. The email must correspond to a Samsara user's email.",
                    "example" : "j.smith@yahoo.com"
                  },
                  "vehicleId" : {
                    "type" : "integer",
                    "description" : "Id of vehicle being inspected. Either vehicleId or trailerId must be provided.",
                    "example" : 10
                  }
                }
              }
            }
          },
          "required" : true,
          "$ref" : "#/components/requestBodies/inline_object_12"
        },
        "responses" : {
          "200" : {
            "description" : "Newly created DVIR.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DvirBase"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "createDvirParam",
        "x-contentType" : "application/json",
        "x-accepts" : "application/json"
      }
    },
    "/fleet/maintenance/list" : {
      "post" : {
        "tags" : [ "Fleet" ],
        "summary" : "/fleet/maintenance/list",
        "description" : "Get list of the vehicles with any engine faults or check light data.",
        "operationId" : "get_fleet_maintenance_list",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Group ID to query.",
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "groupId" ],
                "type" : "object",
                "properties" : {
                  "groupId" : {
                    "type" : "integer",
                    "description" : "Group ID to query.",
                    "format" : "int64",
                    "example" : 101
                  }
                }
              }
            }
          },
          "required" : true,
          "$ref" : "#/components/requestBodies/inline_object_13"
        },
        "responses" : {
          "200" : {
            "description" : "List of vehicles and maintenance information about each.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_4"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "groupParam",
        "x-contentType" : "application/json",
        "x-accepts" : "application/json"
      }
    },
    "/fleet/set_data" : {
      "post" : {
        "tags" : [ "Fleet" ],
        "summary" : "/fleet/set_data",
        "description" : "This method enables the mutation of metadata for vehicles in the Samsara Cloud.",
        "operationId" : "update_vehicles",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "groupId", "vehicles" ],
                "type" : "object",
                "properties" : {
                  "groupId" : {
                    "type" : "integer",
                    "description" : "Group ID to query.",
                    "format" : "int64",
                    "example" : 101
                  },
                  "vehicles" : {
                    "type" : "array",
                    "items" : {
                      "$ref" : "#/components/schemas/Vehicle"
                    }
                  }
                }
              }
            }
          },
          "required" : true,
          "$ref" : "#/components/requestBodies/inline_object_14"
        },
        "responses" : {
          "200" : {
            "description" : "Vehicles were successfully updated. No response body is returned.",
            "content" : { }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "vehicleUpdateParam",
        "x-contentType" : "application/json",
        "x-accepts" : "application/json"
      }
    },
    "/fleet/trips" : {
      "post" : {
        "tags" : [ "Fleet" ],
        "summary" : "/fleet/trips",
        "description" : "Get historical trips data for specified vehicle. This method returns a set of historical trips data for the specified vehicle in the specified time range.",
        "operationId" : "get_fleet_trips",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Group ID, vehicle ID and time range to query.",
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "endMs", "groupId", "startMs", "vehicleId" ],
                "type" : "object",
                "properties" : {
                  "endMs" : {
                    "type" : "integer",
                    "description" : "End of the time range, specified in milliseconds UNIX time.",
                    "example" : 1462881998034
                  },
                  "groupId" : {
                    "type" : "integer",
                    "description" : "Group ID to query.",
                    "format" : "int64",
                    "example" : 101
                  },
                  "startMs" : {
                    "type" : "integer",
                    "description" : "Beginning of the time range, specified in milliseconds UNIX time. Limited to a 90 day window with respect to startMs and endMs",
                    "example" : 1462878398034
                  },
                  "vehicleId" : {
                    "type" : "integer",
                    "description" : "Vehicle ID to query.",
                    "format" : "int64",
                    "example" : 112
                  }
                }
              }
            }
          },
          "required" : true,
          "$ref" : "#/components/requestBodies/inline_object_15"
        },
        "responses" : {
          "200" : {
            "description" : "List of trips taken by the requested vehicle within the specified timeframe.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TripResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "tripsParam",
        "x-contentType" : "application/json",
        "x-accepts" : "application/json"
      }
    },
    "/fleet/vehicles/locations" : {
      "get" : {
        "tags" : [ "Fleet" ],
        "summary" : "/fleet/vehicles/locations",
        "description" : "Fetch locations for a given vehicle between a start/end time. The maximum query duration is 30 minutes.",
        "operationId" : "getVehiclesLocations",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "startMs",
          "in" : "query",
          "description" : "Time in Unix epoch milliseconds for the start of the query (cannot exceed 30 minutes)",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "endMs",
          "in" : "query",
          "description" : "Time in Unix epoch milliseconds for the end of the query (cannot exceed 30 minutes)",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns locations for a given vehicle between a start/end time, with a maximum query duration of 30 minutes.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FleetVehiclesLocations"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-accepts" : "application/json"
      }
    },
    "/fleet/vehicles/stats" : {
      "get" : {
        "tags" : [ "Fleet" ],
        "summary" : "/fleet/vehicles/stats",
        "description" : "Fetch engine state and aux input data for all vehicles in the group between a start/end time. Data returned may be affected by device connectivity and processing time.",
        "operationId" : "GetVehicleStats",
        "parameters" : [ {
          "name" : "access_token",
          "in" : "query",
          "description" : "Samsara API access token.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "startMs",
          "in" : "query",
          "description" : "Time in Unix epoch milliseconds for the start of the query.",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "endMs",
          "in" : "query",
          "description" : "Time in Unix epoch milliseconds for the end of the query.",
          "required" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "series",
          "in" : "query",
          "description" : "Comma-separated list of stat types. Options are engineState, auxInput1, and auxInput2. If this parameter is excluded, all 3 stat types will be returned. Example: series=engineState,auxInput2",
          "schema" : {
            "type" : "string",
            "enum" : [ "engineState", "auxInput1", "auxInput2" ]
          }
        }, {
          "name" : "tagIds",
          "in" : "query",
          "description" : "Comma-separated list of tag ids. Example: tagIds=1,2,3",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "startingAfter",
          "in" : "query",
[...]
