/*
 * SamsaraAPILib
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
 */
package com.samsara.api.controllers;

import java.io.*;
import java.util.*;
import java.util.concurrent.*;
import com.fasterxml.jackson.core.JsonProcessingException;
import com.fasterxml.jackson.core.type.TypeReference;

import com.samsara.api.*;
import com.samsara.api.models.*;
import com.samsara.api.exceptions.*;
import com.samsara.api.http.client.HttpClient;
import com.samsara.api.http.client.HttpContext;
import com.samsara.api.http.request.HttpRequest;
import com.samsara.api.http.response.HttpResponse;
import com.samsara.api.http.response.HttpStringResponse;
import com.samsara.api.http.client.APICallBack;
import com.samsara.api.controllers.syncwrapper.APICallBackCatcher;

public class IndustrialController extends BaseController {
    //private static variables for the singleton pattern
    private static final Object syncObject = new Object();
    private static IndustrialController instance = null;

    /**
     * Singleton pattern implementation 
     * @return The singleton instance of the IndustrialController class 
     */
    public static IndustrialController getInstance() {
        if (null == instance) {
            synchronized (syncObject) {
                if (null == instance) {
                    instance = new IndustrialController();
                }
            }
        }
        return instance;
    }

    /**
     * Fetch datapoints from a given data input.
     * @param    accessToken    Required parameter: Samsara API access token.
     * @param    dataInputId    Required parameter: ID of the data input
     * @param    startMs    Optional parameter: Timestamp in unix milliseconds representing the start of the period to fetch, inclusive. Used in combination with endMs. defaults to nowMs.
     * @param    endMs    Optional parameter: Timestamp in unix milliseconds representing the end of the period to fetch, inclusive. Used in combination with startMs. Defaults to nowMs.
     * @return    Returns the DataInputHistoryResponse response from the API call 
     */
    public DataInputHistoryResponse getDataInput(
                final String accessToken,
                final long dataInputId,
                final Long startMs,
                final Long endMs
    ) throws Throwable {
        APICallBackCatcher<DataInputHistoryResponse> callback = new APICallBackCatcher<DataInputHistoryResponse>();
        getDataInputAsync(accessToken, dataInputId, startMs, endMs, callback);
        if(!callback.isSuccess())
            throw callback.getError();
        return callback.getResult();
    }

    /**
     * Fetch datapoints from a given data input.
     * @param    accessToken    Required parameter: Samsara API access token.
     * @param    dataInputId    Required parameter: ID of the data input
     * @param    startMs    Optional parameter: Timestamp in unix milliseconds representing the start of the period to fetch, inclusive. Used in combination with endMs. defaults to nowMs.
     * @param    endMs    Optional parameter: Timestamp in unix milliseconds representing the end of the period to fetch, inclusive. Used in combination with startMs. Defaults to nowMs.
     * @return    Returns the void response from the API call 
     */
    public void getDataInputAsync(
                final String accessToken,
                final long dataInputId,
                final Long startMs,
                final Long endMs,
                final APICallBack<DataInputHistoryResponse> callBack
    ) {
        Runnable _responseTask = new Runnable() {
            public void run() {
                //the base uri for api requests
                String _baseUri = Configuration.baseUri;

                //prepare query string for API call
                StringBuilder _queryBuilder = new StringBuilder("/industrial/data/{data_input_id}");

                //process template parameters
                Map<String, Object> _templateParameters = new HashMap<String, Object>();
                _templateParameters.put("data_input_id", dataInputId);
                APIHelper.appendUrlWithTemplateParameters(_queryBuilder, _templateParameters);

                ///process query parameters
                Map<String, Object> _queryParameters = new HashMap<String, Object>();
                _queryParameters.put("access_token", accessToken);
                if (startMs != null) {
                    _queryParameters.put("startMs", startMs);
                }
                if (endMs != null) {
                    _queryParameters.put("endMs", endMs);
                }
                _queryParameters.put("access_token", Configuration.accessToken);
                APIHelper.appendUrlWithQueryParameters(_queryBuilder, _queryParameters);

                //validate and preprocess url
                String _queryUrl = APIHelper.cleanUrl(new StringBuilder(_baseUri).append(_queryBuilder));

                //load all headers for the outgoing API request
                Map<String, String> _headers = new HashMap<String, String>();
                _headers.put("user-agent", BaseController.userAgent);
                _headers.put("accept", "application/json");


                //prepare and invoke the API call request to fetch the response
                final HttpRequest _request = getClientInstance().get(_queryUrl, _headers, null);

                //invoke the callback before request if its not null
                if (getHttpCallBack() != null)
                {
                    getHttpCallBack().OnBeforeRequest(_request);
                }

                //invoke request and get response
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {

                            //invoke the callback after response if its not null
                            if (getHttpCallBack() != null)	
                            {
                                getHttpCallBack().OnAfterResponse(_context);
                            }

                            //Error handling using HTTP status codes
                            int _responseCode = _response.getStatusCode();
                            if ((_responseCode < 200) || (_responseCode > 208))
                                throw new APIException("Unexpected error.", _context);

                            //handle errors defined at the API level
                            validateResponse(_response, _context);

                            //extract result from the http response
                            String _responseBody = ((HttpStringResponse)_response).getBody();
                            DataInputHistoryResponse _result = APIHelper.deserialize(_responseBody,
                                                        new TypeReference<DataInputHistoryResponse>(){});

                            //let the caller know of the success
                            callBack.onSuccess(_context, _result);
                        } catch (APIException error) {
                            //let the caller know of the error
                            callBack.onFailure(_context, error);
                        } catch (IOException ioException) {
                            //let the caller know of the caught IO Exception
                            callBack.onFailure(_context, ioException);
                        } catch (Exception exception) {
                            //let the caller know of the caught Exception
                            callBack.onFailure(_context, exception);
                        }
                    }
                    public void onFailure(HttpContext _context, Throwable _error) {
                        //invoke the callback after response if its not null
                        if (getHttpCallBack() != null)
                        {
                            getHttpCallBack().OnAfterResponse(_context);
                        }

                        //let the caller know of the failure
                        callBack.onFailure(_context, _error);
                    }
                });
            }
        };

        //execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * Fetch all of the data inputs for a group.
     * @param    accessToken    Required parameter: Samsara API access token.
     * @param    groupId    Optional parameter: Optional group ID if the organization has multiple groups (uncommon).
     * @param    startMs    Optional parameter: Timestamp in unix milliseconds representing the start of the period to fetch, inclusive. Used in combination with endMs. defaults to nowMs.
     * @param    endMs    Optional parameter: Timestamp in unix milliseconds representing the end of the period to fetch, inclusive. Used in combination with startMs. Defaults to nowMs.
     * @return    Returns the GetAllDataInputsResponse response from the API call 
     */
    public GetAllDataInputsResponse getAllDataInputs(
                final String accessToken,
                final Long groupId,
                final Long startMs,
                final Long endMs
    ) throws Throwable {
        APICallBackCatcher<GetAllDataInputsResponse> callback = new APICallBackCatcher<GetAllDataInputsResponse>();
        getAllDataInputsAsync(accessToken, groupId, startMs, endMs, callback);
        if(!callback.isSuccess())
            throw callback.getError();
        return callback.getResult();
    }

    /**
     * Fetch all of the data inputs for a group.
     * @param    accessToken    Required parameter: Samsara API access token.
     * @param    groupId    Optional parameter: Optional group ID if the organization has multiple groups (uncommon).
     * @param    startMs    Optional parameter: Timestamp in unix milliseconds representing the start of the period to fetch, inclusive. Used in combination with endMs. defaults to nowMs.
     * @param    endMs    Optional parameter: Timestamp in unix milliseconds representing the end of the period to fetch, inclusive. Used in combination with startMs. Defaults to nowMs.
     * @return    Returns the void response from the API call 
     */
    public void getAllDataInputsAsync(
                final String accessToken,
                final Long groupId,
                final Long startMs,
                final Long endMs,
                final APICallBack<GetAllDataInputsResponse> callBack
    ) {
        Runnable _responseTask = new Runnable() {
            public void run() {
                //the base uri for api requests
                String _baseUri = Configuration.baseUri;

                //prepare query string for API call
                StringBuilder _queryBuilder = new StringBuilder("/industrial/data");

                ///process query parameters
                Map<String, Object> _queryParameters = new HashMap<String, Object>();
                _queryParameters.put("access_token", accessToken);
                if (groupId != null) {
                    _queryParameters.put("group_id", groupId);
                }
                if (startMs != null) {
                    _queryParameters.put("startMs", startMs);
                }
                if (endMs != null) {
                    _queryParameters.put("endMs", endMs);
                }
                _queryParameters.put("access_token", Configuration.accessToken);
                APIHelper.appendUrlWithQueryParameters(_queryBuilder, _queryParameters);

                //validate and preprocess url
                String _queryUrl = APIHelper.cleanUrl(new StringBuilder(_baseUri).append(_queryBuilder));

                //load all headers for the outgoing API request
                Map<String, String> _headers = new HashMap<String, String>();
                _headers.put("user-agent", BaseController.userAgent);
                _headers.put("accept", "application/json");


                //prepare and invoke the API call request to fetch the response
                final HttpRequest _request = getClientInstance().get(_queryUrl, _headers, null);

                //invoke the callback before request if its not null
                if (getHttpCallBack() != null)
                {
                    getHttpCallBack().OnBeforeRequest(_request);
                }

                //invoke request and get response
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {

                            //invoke the callback after response if its not null
                            if (getHttpCallBack() != null)	
                            {
                                getHttpCallBack().OnAfterResponse(_context);
                            }

                            //Error handling using HTTP status codes
                            int _responseCode = _response.getStatusCode();
                            if ((_responseCode < 200) || (_responseCode > 208))
                                throw new APIException("Unexpected error.", _context);

                            //handle errors defined at the API level
                            validateResponse(_response, _context);

                            //extract result from the http response
                            String _responseBody = ((HttpStringResponse)_response).getBody();
                            GetAllDataInputsResponse _result = APIHelper.deserialize(_responseBody,
                                                        new TypeReference<GetAllDataInputsResponse>(){});

                            //let the caller know of the success
                            callBack.onSuccess(_context, _result);
                        } catch (APIException error) {
                            //let the caller know of the error
                            callBack.onFailure(_context, error);
                        } catch (IOException ioException) {
                            //let the caller know of the caught IO Exception
                            callBack.onFailure(_context, ioException);
                        } catch (Exception exception) {
                            //let the caller know of the caught Exception
                            callBack.onFailure(_context, exception);
                        }
                    }
                    public void onFailure(HttpContext _context, Throwable _error) {
                        //invoke the callback after response if its not null
                        if (getHttpCallBack() != null)
                        {
                            getHttpCallBack().OnAfterResponse(_context);
                        }

                        //let the caller know of the failure
                        callBack.onFailure(_context, _error);
                    }
                });
            }
        };

        //execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * Get machine objects. This method returns a list of the machine objects in the Samsara Cloud and information about them.
     * @param    accessToken    Required parameter: Samsara API access token.
     * @param    groupParam    Required parameter: Group ID to query.
     * @return    Returns the GetMachinesResponse response from the API call 
     */
    public GetMachinesResponse createGetMachines(
                final String accessToken,
                final GroupParam groupParam
    ) throws Throwable {
        APICallBackCatcher<GetMachinesResponse> callback = new APICallBackCatcher<GetMachinesResponse>();
        createGetMachinesAsync(accessToken, groupParam, callback);
        if(!callback.isSuccess())
            throw callback.getError();
        return callback.getResult();
    }

    /**
     * Get machine objects. This method returns a list of the machine objects in the Samsara Cloud and information about them.
     * @param    accessToken    Required parameter: Samsara API access token.
     * @param    groupParam    Required parameter: Group ID to query.
     * @return    Returns the void response from the API call 
     */
    public void createGetMachinesAsync(
                final String accessToken,
                final GroupParam groupParam,
                final APICallBack<GetMachinesResponse> callBack
    ) {
        Runnable _responseTask = new Runnable() {
            public void run() {
                //the base uri for api requests
                String _baseUri = Configuration.baseUri;

                //prepare query string for API call
                StringBuilder _queryBuilder = new StringBuilder("/machines/list");

                ///process query parameters
                Map<String, Object> _queryParameters = new HashMap<String, Object>();
                _queryParameters.put("access_token", accessToken);
                _queryParameters.put("access_token", Configuration.accessToken);
                APIHelper.appendUrlWithQueryParameters(_queryBuilder, _queryParameters);

                //validate and preprocess url
                String _queryUrl = APIHelper.cleanUrl(new StringBuilder(_baseUri).append(_queryBuilder));

                //load all headers for the outgoing API request
                Map<String, String> _headers = new HashMap<String, String>();
                _headers.put("user-agent", BaseController.userAgent);
                _headers.put("accept", "application/json");
                _headers.put("content-type", "application/json");


                //prepare and invoke the API call request to fetch the response
                String _bodyJson;
                HttpRequest _request;
                try {
                    _bodyJson = APIHelper.serialize(groupParam);
                    _request = getClientInstance().postBody(_queryUrl, _headers, _bodyJson);
                } catch (JsonProcessingException jsonProcessingException) {
                    //let the caller know of the error
                    callBack.onFailure(null, jsonProcessingException);
                    return;
                }
                //invoke the callback before request if its not null
                if (getHttpCallBack() != null)
                {
                    getHttpCallBack().OnBeforeRequest(_request);
                }

                //invoke request and get response
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {

                            //invoke the callback after response if its not null
                            if (getHttpCallBack() != null)	
                            {
                                getHttpCallBack().OnAfterResponse(_context);
                            }

                            //Error handling using HTTP status codes
                            int _responseCode = _response.getStatusCode();
                            if ((_responseCode < 200) || (_responseCode > 208))
                                throw new APIException("Unexpected error.", _context);

                            //handle errors defined at the API level
                            validateResponse(_response, _context);

                            //extract result from the http response
                            String _responseBody = ((HttpStringResponse)_response).getBody();
                            GetMachinesResponse _result = APIHelper.deserialize(_responseBody,
                                                        new TypeReference<GetMachinesResponse>(){});

                            //let the caller know of the success
                            callBack.onSuccess(_context, _result);
                        } catch (APIException error) {
                            //let the caller know of the error
                            callBack.onFailure(_context, error);
                        } catch (IOException ioException) {
                            //let the caller know of the caught IO Exception
                            callBack.onFailure(_context, ioException);
                        } catch (Exception exception) {
                            //let the caller know of the caught Exception
                            callBack.onFailure(_context, exception);
                        }
                    }
                    public void onFailure(HttpContext _context, Throwable _error) {
                        //invoke the callback after response if its not null
                        if (getHttpCallBack() != null)
                        {
                            getHttpCallBack().OnAfterResponse(_context);
                        }

                        //let the caller know of the failure
                        callBack.onFailure(_context, _error);
                    }
                });
            }
        };

        //execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * Get historical data for machine objects. This method returns a set of historical data for all machines in a group
     * @param    accessToken    Required parameter: Samsara API access token.
     * @param    historyParam    Required parameter: Group ID and time range to query for events
     * @return    Returns the MachineHistoryResponse response from the API call 
     */
    public MachineHistoryResponse createGetMachinesHistory(
                final String accessToken,
                final HistoryParam historyParam
    ) throws Throwable {
        APICallBackCatcher<MachineHistoryResponse> callback = new APICallBackCatcher<MachineHistoryResponse>();
        createGetMachinesHistoryAsync(accessToken, historyParam, callback);
        if(!callback.isSuccess())
            throw callback.getError();
        return callback.getResult();
    }

    /**
     * Get historical data for machine objects. This method returns a set of historical data for all machines in a group
     * @param    accessToken    Required parameter: Samsara API access token.
     * @param    historyParam    Required parameter: Group ID and time range to query for events
     * @return    Returns the void response from the API call 
     */
    public void createGetMachinesHistoryAsync(
                final String accessToken,
                final HistoryParam historyParam,
                final APICallBack<MachineHistoryResponse> callBack
    ) {
        Runnable _responseTask = new Runnable() {
            public void run() {
                //the base uri for api requests
                String _baseUri = Configuration.baseUri;

                //prepare query string for API call
                StringBuilder _queryBuilder = new StringBuilder("/machines/history");

                ///process query parameters
                Map<String, Object> _queryParameters = new HashMap<String, Object>();
                _queryParameters.put("access_token", accessToken);
                _queryParameters.put("access_token", Configuration.accessToken);
                APIHelper.appendUrlWithQueryParameters(_queryBuilder, _queryParameters);

                //validate and preprocess url
                String _queryUrl = APIHelper.cleanUrl(new StringBuilder(_baseUri).append(_queryBuilder));

                //load all headers for the outgoing API request
                Map<String, String> _headers = new HashMap<String, String>();
                _headers.put("user-agent", BaseController.userAgent);
                _headers.put("accept", "application/json");
                _headers.put("content-type", "application/json");


                //prepare and invoke the API call request to fetch the response
                String _bodyJson;
                HttpRequest _request;
                try {
                    _bodyJson = APIHelper.serialize(historyParam);
                    _request = getClientInstance().postBody(_queryUrl, _headers, _bodyJson);
                } catch (JsonProcessingException jsonProcessingException) {
                    //let the caller know of the error
                    callBack.onFailure(null, jsonProcessingException);
                    return;
                }
                //invoke the callback before request if its not null
                if (getHttpCallBack() != null)
                {
                    getHttpCallBack().OnBeforeRequest(_request);
                }

                //invoke request and get response
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {

                            //invoke the callback after response if its not null
                            if (getHttpCallBack() != null)	
                            {
                                getHttpCallBack().OnAfterResponse(_context);
                            }

                            //Error handling using HTTP status codes
                            int _responseCode = _response.getStatusCode();
                            if ((_responseCode < 200) || (_responseCode > 208))
                                throw new APIException("Unexpected error.", _context);

                            //handle errors defined at the API level
                            validateResponse(_response, _context);

                            //extract result from the http response
                            String _responseBody = ((HttpStringResponse)_response).getBody();
                            MachineHistoryResponse _result = APIHelper.deserialize(_responseBody,
                                                        new TypeReference<MachineHistoryResponse>(){});

                            //let the caller know of the success
                            callBack.onSuccess(_context, _result);
                        } catch (APIException error) {
                            //let the caller know of the error
                            callBack.onFailure(_context, error);
                        } catch (IOException ioException) {
                            //let the caller know of the caught IO Exception
                            callBack.onFailure(_context, ioException);
                        } catch (Exception exception) {
                            //let the caller know of the caught Exception
                            callBack.onFailure(_context, exception);
                        }
                    }
                    public void onFailure(HttpContext _context, Throwable _error) {
                        //invoke the callback after response if its not null
                        if (getHttpCallBack() != null)
                        {
                            getHttpCallBack().OnAfterResponse(_context);
                        }

                        //let the caller know of the failure
                        callBack.onFailure(_context, _error);
                    }
                });
            }
        };

        //execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

}