---
swagger: "2.0"
info:
  description: "# Introduction\n\nSamsara provides API endpoints for interacting with\
    \ Samsara Cloud, so that you can build powerful applications and custom solutions\
    \ with sensor data. Samsara has endpoints available to track and analyze sensors,\
    \ vehicles, and entire fleets.\n\nThe Samsara Cloud API is a [RESTful API](https://en.wikipedia.org/wiki/Representational_state_transfer)\
    \ accessed by an [HTTP](https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol)\
    \ client such as wget or curl, or HTTP libraries of most modern programming languages\
    \ including python, ruby, java. We use built-in HTTP features, like HTTP authentication\
    \ and HTTP verbs, which are understood by off-the-shelf HTTP clients. We allow\
    \ you to interact securely with our API from a client-side web application (though\
    \ you should never expose your secret API key). [JSON](http://www.json.org/) is\
    \ returned by all API responses, including errors. If you’re familiar with what\
    \ you can build with a REST API, the following API reference guide will be your\
    \ go-to resource.\n\nAPI access to the Samsara cloud is available to all Samsara\
    \ administrators. To start developing with Samsara APIs you will need to [obtain\
    \ your API keys](#section/Authentication) to authenticate your API requests.\n\
    \nIf you have any questions you can reach out to us on [support@samsara.com](mailto:support@samsara.com)\n\
    \n# Endpoints\n\nAll our APIs can be accessed through HTTP requests to URLs like:\n\
    \n```curl\nhttps://api.samsara.com/<version>/<endpoint>\n```\n\nAll our APIs are\
    \ [versioned](#section/Versioning). If we intend to make breaking changes to an\
    \ API which either changes the response format or request parameter, we will increment\
    \ the version.\n\n# Authentication\n\nTo authenticate your API request you will\
    \ need to include your secret token. You can manage your API tokens in the [Dashboard](https://cloud.samsara.com).\
    \ They are visible under `Settings->Organization->API Tokens`.\n\nYour API tokens\
    \ carry many privileges, so be sure to keep them secure. Do not share your secret\
    \ API tokens in publicly accessible areas such as GitHub, client-side code, and\
    \ so on.\n\nAuthentication to the API is performed via [HTTP Basic Auth](https://en.wikipedia.org/wiki/Basic_access_authentication).\
    \ Provide your API token as the basic access_token value in the URL. You do not\
    \ need to provide a password.\n\n```curl\nhttps://api.samsara.com/<version>/<endpoint>?access_token={access_token}\n\
    ```\n\nAll API requests must be made over [HTTPS](https://en.wikipedia.org/wiki/HTTPS).\
    \ Calls made over plain HTTP or without authentication will fail.\n\n# Request\
    \ Methods\n\nOur API endpoints use [HTTP request methods](https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol#Request_methods)\
    \ to specify the desired operation to be performed. The documentation below specified\
    \ request method supported by each endpoint and the resulting action.\n\n## GET\n\
    \nGET requests are typically used for fetching data (like data for a particular\
    \ driver).\n\n## POST\n\nPOST requests are typically used for creating or updating\
    \ a record (like adding new tags to the system). With that being said, a few of\
    \ our POST requests can be used for fetching data (like current location data\
    \ of your fleet).\n\n## PUT\n\nPUT requests are typically used for updating an\
    \ existing record (like updating all devices associated with a particular tag).\n\
    \n## PATCH\n\nPATCH requests are typically used for modifying an existing record\
    \ (like modifying a few devices associated with a particular tag).\n\n## DELETE\n\
    \nDELETE requests are used for deleting a record (like deleting a tag from the\
    \ system).\n\n# Response Codes\n\nAll API requests will respond with appropriate\
    \ [HTTP status code](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes).\
    \ Your API client should handle each response class differently.\n\n## 2XX\n\n\
    These are successful responses and indicate that the API request returned the\
    \ expected response.\n\n## 4XX\n\nThese indicate that there was a problem with\
    \ the request like a missing parameter or invalid values. Check the response for\
    \ specific [error details](#section/Error-Responses). Requests that respond with\
    \ a 4XX status code, should be modified before retrying.\n\n## 5XX\n\nThese indicate\
    \ server errors when the server is unreachable or is misconfigured. In this case,\
    \ you should retry the API request after some delay.\n\n# Error Responses\n\n\
    In case of a 4XX status code, the body of the response will contain information\
    \ to briefly explain the error reported. To help debugging the error, you can\
    \ refer to the following table for understanding the error message.\n\n| Status\
    \ Code | Message | Description |\n|-------------|----------------|-------------------------------------------------------------------|\n\
    | 401 | Invalid token | The API token is invalid and could not be authenticated.\
    \ Please refer to the [authentication section](#section/Authentication). |\n|\
    \ 404 | Page not found | The API endpoint being accessed is invalid. |\n| 400\
    \ | Bad request | Default response for an invalid request. Please check the request\
    \ to make sure it follows the format specified in the documentation. |\n\n# Versioning\n\
    \nAll our APIs are versioned. Our current API version is `v1` and we are continuously\
    \ working on improving it further and provide additional endpoints. If we intend\
    \ to make breaking changes to an API which either changes the response format\
    \ or request parameter, we will increment the version. Thus, you can use our current\
    \ API version worry free.\n\n# FAQs\n\nCheck out our [responses to FAQs here](https://kb.samsara.com/hc/en-us/sections/360000538054-APIs).\
    \ Don’t see an answer to your question? Reach out to us on [support@samsara.com](mailto:support@samsara.com)."
  version: "1.0.0"
  title: "Samsara API"
host: "api.samsara.com"
basePath: "/v1"
tags:
- name: "Fleet"
  description: "Access to fleet data"
- name: "Industrial"
  description: "Access to industrial data"
- name: "Sensors"
  description: "Access to sensor data"
- name: "Assets"
  description: "Access to asset specific data"
- name: "Safety"
  description: "Access to safety specific data"
- name: "Users"
  description: "Access to user data"
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json"
paths:
  /addresses:
    get:
      tags:
      - "Fleet"
      summary: "/addresses"
      description: "Fetch all addresses/geofences for the organization. An address\
        \ contains either a circle or polygon geofence describing the address boundaries."
      operationId: "get_organization_addresses"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      responses:
        200:
          description: "List of addresses/geofences. For each address entry, the geofence\
            \ field will only be populated with either 'circle' or 'polygon', depending\
            \ on the geofence type."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Address"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
    post:
      tags:
      - "Fleet"
      summary: "/addresses"
      description: "Add one or more addresses to the organization"
      operationId: "add_organization_addresses"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - in: "body"
        name: "addresses"
        description: "List of addresses/geofences to add. Geofences can be circular\
          \ or a polygon. \nFor each address, only one of 'circle' or 'polygon' should\
          \ be provided. If both are provided, the geofence will be saved as a polygon."
        required: true
        schema:
          $ref: "#/definitions/addresses"
      responses:
        200:
          description: "List of added addresses/geofences. For each address entry,\
            \ the geofence field will only be populated with either 'circle' or 'polygon',\
            \ depending on the geofence type. Circle geofences added without a specific\
            \ lat/lng are geocoded asynchronously, and will be 0,0 in the immediate\
            \ response."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Address"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
  /addresses/{addressId}:
    get:
      tags:
      - "Fleet"
      summary: "/addresses/{addressId}"
      description: "Fetch an address by its id."
      operationId: "get_organization_address"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "addressId"
        in: "path"
        description: "ID of the address/geofence"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "The address/geofence. The geofence field will only be populated\
            \ with either 'circle' or 'polygon', depending on the geofence type."
          schema:
            $ref: "#/definitions/Address"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
    delete:
      tags:
      - "Fleet"
      summary: "/addresses/{addressId}"
      description: "Delete an address."
      operationId: "delete_organization_address"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "addressId"
        in: "path"
        description: "ID of the address/geofence"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Address was successfully deleted. No response body is returned."
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
    patch:
      tags:
      - "Fleet"
      summary: "/addresses/{addressId}"
      description: "Update the name, formatted address, geofence, notes, or tag and\
        \ contact Ids for an address. The set of tags or contacts associated with\
        \ this address will be updated to exactly match the list of IDs passed in.\
        \ To remove all tags or contacts from an address, pass an empty list; to remove\
        \ notes, pass an empty string."
      operationId: "update_organization_address"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - in: "body"
        name: "address"
        description: "Update parts of an address's value. If the geofence 'circle'\
          \ or 'polygon' key is specified, the update will change the type of geofence\
          \ accordingly."
        required: true
        schema:
          $ref: "#/definitions/address"
      - name: "addressId"
        in: "path"
        description: "ID of the address/geofence"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Address was successfully updated. No response body is returned."
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
  /contacts:
    get:
      tags:
      - "Fleet"
      summary: "/contacts"
      description: "Fetch all contacts for the organization."
      operationId: "list_contacts"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      responses:
        200:
          description: "List of contacts."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Contact"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
  /contacts/{contact_id}:
    get:
      tags:
      - "Fleet"
      summary: "/contacts/{contact_id}"
      description: "Fetch a contact by its id."
      operationId: "get_organization_contact"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "contact_id"
        in: "path"
        description: "ID of the contact"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "The contact."
          schema:
            $ref: "#/definitions/Contact"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
  /fleet/add_address:
    post:
      tags:
      - "Fleet"
      summary: "/fleet/add_address"
      description: "This method adds an address book entry to the specified group."
      operationId: "add_fleet_address"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - in: "body"
        name: "addressParam"
        required: true
        schema:
          $ref: "#/definitions/addressParam"
      responses:
        200:
          description: "Address was successfully added. No response body is returned."
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
  /fleet/assets:
    get:
      tags:
      - "Fleet"
      - "Assets"
      summary: "/fleet/assets"
      description: "Fetch all of the assets for the group."
      operationId: "get_all_assets"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "group_id"
        in: "query"
        description: "Optional group ID if the organization has multiple groups (uncommon)."
        required: false
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "List of assets."
          schema:
            type: "object"
            properties:
              assets:
                type: "array"
                items:
                  $ref: "#/definitions/Asset"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
  /fleet/assets/locations:
    get:
      tags:
      - "Fleet"
      - "Assets"
      summary: "/fleet/assets/locations"
      description: "Fetch current locations of all assets for the group."
      operationId: "get_all_asset_current_locations"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "group_id"
        in: "query"
        description: "Optional group ID if the organization has multiple groups (uncommon)."
        required: false
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "List of assets and their current locations."
          schema:
            type: "object"
            properties:
              assets:
                type: "array"
                items:
                  $ref: "#/definitions/AssetCurrentLocationsResponse"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
  /fleet/assets/{asset_id}/locations:
    get:
      tags:
      - "Fleet"
      - "Assets"
      summary: "/fleet/assets/{assetId:[0-9]+}/locations"
      description: "Fetch the historical locations for the asset."
      operationId: "get_asset_location"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "asset_id"
        in: "path"
        description: "ID of the asset"
        required: true
        type: "integer"
        format: "int64"
      - name: "startMs"
        in: "query"
        description: "Timestamp in milliseconds representing the start of the period\
          \ to fetch, inclusive. Used in combination with endMs."
        required: true
        type: "integer"
        format: "int64"
      - name: "endMs"
        in: "query"
        description: "Timestamp in milliseconds representing the end of the period\
          \ to fetch, inclusive. Used in combination with startMs."
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Asset location details."
          schema:
            $ref: "#/definitions/AssetLocationResponse"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
  /fleet/assets/{asset_id}/reefer:
    get:
      tags:
      - "Fleet"
      - "Assets"
      summary: "/fleet/assets/{assetId:[0-9]+}/reefer"
      description: "Fetch the reefer-specific stats of an asset."
      operationId: "get_asset_reefer"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "asset_id"
        in: "path"
        description: "ID of the asset"
        required: true
        type: "integer"
        format: "int64"
      - name: "startMs"
        in: "query"
        description: "Timestamp in milliseconds representing the start of the period\
          \ to fetch, inclusive. Used in combination with endMs."
        required: true
        type: "integer"
        format: "int64"
      - name: "endMs"
        in: "query"
        description: "Timestamp in milliseconds representing the end of the period\
          \ to fetch, inclusive. Used in combination with startMs."
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Reefer-specific asset details."
          schema:
            $ref: "#/definitions/AssetReeferResponse"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
  /fleet/dispatch/routes:
    get:
      tags:
      - "Fleet"
      - "Routes"
      summary: "/fleet/dispatch/routes"
      description: "Fetch all of the dispatch routes for the group."
      operationId: "fetch_all_dispatch_routes"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "group_id"
        in: "query"
        description: "Optional group ID if the organization has multiple groups (uncommon)."
        required: false
        type: "integer"
        format: "int64"
      - name: "end_time"
        in: "query"
        description: "Time in unix milliseconds that represents the oldest routes\
          \ to return. Used in combination with duration. Defaults to now."
        required: false
        type: "integer"
        format: "int64"
      - name: "duration"
        in: "query"
        description: "Time in milliseconds that represents the duration before end_time\
          \ to query. Defaults to 24 hours."
        required: false
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "All dispatch route objects for the group."
          schema:
            $ref: "#/definitions/DispatchRoutes"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
    post:
      tags:
      - "Fleet"
      - "Routes"
      summary: "/fleet/dispatch/routes"
      description: "Create a new dispatch route."
      operationId: "create_dispatch_route"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - in: "body"
        name: "createDispatchRouteParams"
        required: true
        schema:
          $ref: "#/definitions/DispatchRouteCreate"
      responses:
        200:
          description: "Created route object including the new route ID."
          schema:
            $ref: "#/definitions/DispatchRoute"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
  /fleet/dispatch/routes/job_updates:
    get:
      tags:
      - "Fleet"
      - "Routes"
      summary: "/fleet/dispatch/routes/job_updates"
      description: "Fetch all updates to a job including route data in the last 24\
        \ hours or subsequent to an sequence ID"
      operationId: "fetch_all_route_job_updates"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "group_id"
        in: "query"
        description: "Optional group ID if the organization has multiple groups (uncommon)."
        required: false
        type: "integer"
        format: "int64"
      - name: "sequence_id"
        in: "query"
        description: "Sequence ID from the response payload of the last request. Defaults\
          \ to fetching updates from last 24 hours."
        required: false
        type: "string"
      - name: "include"
        in: "query"
        description: "Optionally set include=route to include route object in response\
          \ payload."
        required: false
        type: "string"
      responses:
        200:
          description: "All job updates on routes."
          schema:
            $ref: "#/definitions/allRouteJobUpdates"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
  /fleet/dispatch/routes/{route_id}:
    get:
      tags:
      - "Fleet"
      - "Routes"
      summary: "/fleet/dispatch/routes/{route_id:[0-9]+}"
      description: "Fetch a dispatch route by id."
      operationId: "get_dispatch_route_by_id"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "route_id"
        in: "path"
        description: "ID of the dispatch route."
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "The dispatch route corresponding to route_id."
          schema:
            $ref: "#/definitions/DispatchRoute"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
    put:
      tags:
      - "Fleet"
      - "Routes"
      summary: "/fleet/dispatch/routes/{route_id:[0-9]+}/"
      description: "Update a dispatch route and its associated jobs."
      operationId: "update_dispatch_route_by_id"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "route_id"
        in: "path"
        description: "ID of the dispatch route."
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "updateDispatchRouteParams"
        required: true
        schema:
          $ref: "#/definitions/DispatchRoute"
      responses:
        200:
          description: "Update the dispatch route. Allowable updates include setting\
            \ job state, adding or removing jobs, and changing job locations and times."
          schema:
            $ref: "#/definitions/DispatchRoute"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
    delete:
      tags:
      - "Fleet"
      - "Routes"
      summary: "/fleet/dispatch/routes/{route_id:[0-9]+}/"
      description: "Delete a dispatch route and its associated jobs."
      operationId: "delete_dispatch_route_by_id"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "route_id"
        in: "path"
        description: "ID of the dispatch route."
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Successfully deleted the dispatch route. No response body\
            \ is returned."
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
  /fleet/dispatch/routes/{route_id}/history:
    get:
      tags:
      - "Fleet"
      - "Routes"
      summary: "/fleet/dispatch/routes/{route_id:[0-9]+}/history"
      description: "Fetch the history of a dispatch route."
      operationId: "get_dispatch_route_history"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "start_time"
        in: "query"
        description: "Timestamp representing the start of the period to fetch, inclusive.\
          \ Used in combination with end_time. Defaults to 0."
        required: false
        type: "integer"
        format: "int64"
      - name: "end_time"
        in: "query"
        description: "Timestamp representing the end of the period to fetch, inclusive.\
          \ Used in combination with start_time. Defaults to nowMs."
        required: false
        type: "integer"
        format: "int64"
      - name: "route_id"
        in: "path"
        description: "ID of the route with history."
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "The historical route state changes between start_time and\
            \ end_time."
          schema:
            $ref: "#/definitions/DispatchRouteHistory"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
  /fleet/drivers:
    post:
      tags:
      - "Fleet"
      summary: "/fleet/drivers"
      description: "Get all the drivers for the specified group."
      operationId: "get_fleet_drivers"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - in: "body"
        name: "groupDriversParam"
        required: true
        schema:
          $ref: "#/definitions/groupDriversParam"
      responses:
        200:
          description: "All drivers in the group."
          schema:
            $ref: "#/definitions/DriversResponse"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
  /fleet/drivers/create:
    post:
      tags:
      - "Fleet"
      - "Drivers"
      summary: "/fleet/drivers/create"
      description: "Create a new driver."
      operationId: "create_driver"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - in: "body"
        name: "createDriverParam"
        description: "Driver creation body"
        required: true
        schema:
          $ref: "#/definitions/DriverForCreate"
      responses:
        200:
          description: "Returns the successfully created the driver."
          schema:
            $ref: "#/definitions/Driver"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
  /fleet/drivers/document_types:
    get:
      tags:
      - "Fleet"
      summary: "/fleet/drivers/document_types"
      description: "Fetch all of the document types."
      operationId: "get_driver_document_types_by_org_id"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "Returns all of the document types."
          schema:
            $ref: "#/definitions/DocumentTypes"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
  /fleet/drivers/documents:
    get:
      tags:
      - "Fleet"
      summary: "/fleet/drivers/documents"
      description: "Fetch all of the documents."
      operationId: "get_driver_documents_by_org_id"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "endMs"
        in: "query"
        description: "Time in unix milliseconds that represents the oldest documents\
          \ to return. Used in combination with durationMs. Defaults to now."
        required: false
        type: "integer"
        format: "int64"
      - name: "durationMs"
        in: "query"
        description: "Time in milliseconds that represents the duration before endMs\
          \ to query. Defaults to 24 hours."
        required: false
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Returns all of the documents."
          schema:
            $ref: "#/definitions/Documents"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
  /fleet/drivers/inactive:
    get:
      tags:
      - "Fleet"
      - "Drivers"
      summary: "/fleet/drivers/inactive"
      description: "Fetch all deactivated drivers for the group."
      operationId: "get_all_deactivated_drivers"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "group_id"
        in: "query"
        description: "Optional group ID if the organization has multiple groups (uncommon)."
        required: false
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Returns an array of all deactivated drivers for the group.\
            \ Deactivated drivers are referenced at /fleet/drivers/inactive/{driver_id}"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Driver"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
  /fleet/drivers/inactive/{driver_id_or_external_id}:
    get:
      tags:
      - "Fleet"
      - "Drivers"
      summary: "/fleet/drivers/inactive/{driver_id:[0-9]+ | external_id:[a-zA-Z0-9]+}"
      description: "Fetch deactivated driver by id."
      operationId: "get_deactivated_driver_by_id"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "driver_id_or_external_id"
        in: "path"
        description: "ID of the driver.  This must be either the numeric ID generated\
          \ by Samsara or the external ID of the driver.  External IDs are customer\
          \ specified key-value pairs."
        required: true
        type: "string"
      responses:
        200:
          description: "Returns the deactivated driver with the given driver_id."
          schema:
            $ref: "#/definitions/Driver"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
    put:
      tags:
      - "Fleet"
      - "Drivers"
      summary: "/fleet/drivers/inactive/{driver_id:[0-9]+ | external_id:[a-zA-Z0-9]+}"
      description: "Reactivate the inactive driver having id."
      operationId: "reactivate_driver_by_id"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "driver_id_or_external_id"
        in: "path"
        description: "ID of the driver.  This must be either the numeric ID generated\
          \ by Samsara or the external ID of the driver.  External IDs are customer\
          \ specified key-value pairs."
        required: true
        type: "string"
      - in: "body"
        name: "reactivateDriverParam"
        description: "Driver reactivation body"
        required: true
        schema:
          $ref: "#/definitions/reactivateDriverParam"
      responses:
        200:
          description: "Returns the reactivated driver, which is now available at\
            \ /fleet/drivers/{driver_id}."
          schema:
            $ref: "#/definitions/CurrentDriver"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
  /fleet/drivers/summary:
    post:
      tags:
      - "Fleet"
      summary: "/fleet/drivers/summary"
      description: "Get the distance and time each driver in an organization has driven\
        \ in a given time period."
      operationId: "get_fleet_drivers_summary"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "snap_to_day_bounds"
        in: "query"
        description: "Snap query result to HOS day boundaries."
        required: false
        type: "boolean"
      - in: "body"
        name: "driversSummaryParam"
        description: "Org ID and time range to query."
        required: true
        schema:
          $ref: "#/definitions/driversSummaryParam"
      responses:
        200:
          description: "Distance traveled and time active for each driver in the organization\
            \ over the specified time period."
          schema:
            $ref: "#/definitions/DriversSummaryResponse"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
  /fleet/drivers/{driverId}/safety/score:
    get:
      tags:
      - "Fleet"
      - "Safety"
      summary: "/fleet/drivers/{driverId:[0-9]+}/safety/score"
      description: "Fetch the safety score for the driver."
      operationId: "get_driver_safety_score"
      parameters:
      - name: "driverId"
        in: "path"
        description: "ID of the driver"
        required: true
        type: "integer"
        format: "int64"
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "startMs"
        in: "query"
        description: "Timestamp in milliseconds representing the start of the period\
          \ to fetch, inclusive. Used in combination with endMs."
        required: true
        type: "integer"
        format: "int64"
      - name: "endMs"
        in: "query"
        description: "Timestamp in milliseconds representing the end of the period\
          \ to fetch, inclusive. Used in combination with startMs."
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Safety score details."
          schema:
            $ref: "#/definitions/DriverSafetyScoreResponse"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
  /fleet/drivers/{driver_id_or_external_id}:
    get:
      tags:
      - "Fleet"
      - "Drivers"
      summary: "/fleet/drivers/{driver_id:[0-9]+ | external_id:[a-zA-Z0-9]+}"
      description: "Fetch driver by id."
      operationId: "get_driver_by_id"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "driver_id_or_external_id"
        in: "path"
        description: "ID of the driver.  This must be either the numeric ID generated\
          \ by Samsara or the external ID of the driver.  External IDs are customer\
          \ specified key-value pairs."
        required: true
        type: "string"
      responses:
        200:
          description: "Returns the driver for the given driver_id."
          schema:
            $ref: "#/definitions/CurrentDriver"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
    delete:
      tags:
      - "Fleet"
      - "Drivers"
      summary: "/fleet/drivers/{driver_id:[0-9]+ | external_id:[a-zA-Z0-9]+}"
      description: "Deactivate a driver with the given id."
      operationId: "deactivate_driver"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "driver_id_or_external_id"
        in: "path"
        description: "ID of the driver.  This must be either the numeric ID generated\
          \ by Samsara or the external ID of the driver.  External IDs are customer\
          \ specified key-value pairs."
        required: true
        type: "string"
      responses:
        200:
          description: "Successfully deactivated the driver, which is now referenced\
            \ by /fleet/drivers/inactive/{driver_id}."
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
  /fleet/drivers/{driver_id}/dispatch/routes:
    get:
      tags:
      - "Fleet"
      - "Routes"
      summary: "/fleet/drivers/{driver_id:[0-9]+}/dispatch/routes"
      description: "Fetch all of the dispatch routes for a given driver."
      operationId: "get_dispatch_routes_by_driver_id"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "driver_id"
        in: "path"
        description: "ID of the driver with the associated routes."
        required: true
        type: "integer"
        format: "int64"
      - name: "end_time"
        in: "query"
        description: "Time in unix milliseconds that represents the oldest routes\
          \ to return. Used in combination with duration. Defaults to now."
        required: false
        type: "integer"
        format: "int64"
      - name: "duration"
        in: "query"
        description: "Time in milliseconds that represents the duration before end_time\
          \ to query. Defaults to 24 hours."
        required: false
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Returns the dispatch routes for the given driver_id."
          schema:
            $ref: "#/definitions/DispatchRoutes"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
    post:
      tags:
      - "Fleet"
      - "Routes"
      summary: "/fleet/drivers/{driver_id:[0-9]+}/dispatch/routes"
      description: "Create a new dispatch route for the driver with driver_id."
      operationId: "create_driver_dispatch_route"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "driver_id"
        in: "path"
        description: "ID of the driver with the associated routes."
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "createDispatchRouteParams"
        required: true
        schema:
          $ref: "#/definitions/DispatchRouteCreate"
      responses:
        200:
          description: "Created route object including the new route ID."
          schema:
            $ref: "#/definitions/DispatchRoute"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
  /fleet/drivers/{driver_id}/documents:
    post:
      tags:
      - "Fleet"
      summary: "/fleet/drivers/{driver_id:[0-9]+}/documents"
      description: "Create a driver document for the given driver."
      operationId: "create_driver_document"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "driver_id"
        in: "path"
        description: "ID of the driver for whom the document is created."
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "createDocumentParams"
        description: "To create a document for a given document type, the document\
          \ type's uuid needs to be passed in to documentTypeUuid. The list of fields\
          \ passed in should match the document type’s list of field types in the\
          \ correct order. In other words, a field's valueType and value (i.e. only\
          \ one of: stringValue, numberValue, or photoValue) at index _i_ should match\
          \ with the document field type’s valueType at index _i_."
        required: true
        schema:
          $ref: "#/definitions/DocumentCreate"
      responses:
        200:
          description: "Returns the created document."
          schema:
            $ref: "#/definitions/Document"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
  /fleet/drivers/{driver_id}/hos_daily_logs:
    post:
      tags:
      - "Fleet"
      summary: "/fleet/drivers/{driver_id:[0-9]+}/hos_daily_logs"
      description: "Get summarized daily HOS charts for a specified driver."
      operationId: "get_fleet_drivers_hos_daily_logs"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "driver_id"
        in: "path"
        description: "ID of the driver with HOS logs."
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "hosLogsParam"
        required: true
        schema:
          $ref: "#/definitions/hosLogsParam"
      responses:
        200:
          description: "Distance traveled and time active for each driver in the organization\
            \ over the specified time period."
          schema:
            $ref: "#/definitions/DriverDailyLogResponse"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
  /fleet/hos_authentication_logs:
    post:
      tags:
      - "Fleet"
      summary: "/fleet/hos_authentication_logs"
      description: "Get the HOS (hours of service) signin and signout logs for the\
        \ specified driver. Only signout logs include location information."
      operationId: "get_fleet_hos_authentication_logs"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - in: "body"
        name: "hosAuthenticationLogsParam"
        required: true
        schema:
          $ref: "#/definitions/hosAuthenticationLogsParam"
      responses:
        200:
          description: "HOS authentication logs for the specified driver."
          schema:
            $ref: "#/definitions/HosAuthenticationLogsResponse"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
  /fleet/hos_logs:
    post:
      tags:
      - "Fleet"
      summary: "/fleet/hos_logs"
      description: "Get the HOS (hours of service) logs for the specified driver.\
        \ This method returns all the HOS statuses that the driver was in during this\
        \ time period."
      operationId: "get_fleet_hos_logs"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - in: "body"
        name: "hosLogsParam"
        required: true
        schema:
          $ref: "#/definitions/hosLogsParam_1"
      responses:
        200:
          description: "HOS logs for the specified driver."
          schema:
            $ref: "#/definitions/HosLogsResponse"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
  /fleet/hos_logs_summary:
    post:
      tags:
      - "Fleet"
      summary: "/fleet/hos_logs_summary"
      description: "Get the current HOS status for all drivers in the group."
      operationId: "get_fleet_hos_logs_summary"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - in: "body"
        name: "hosLogsParam"
        required: true
        schema:
          $ref: "#/definitions/hosLogsParam_2"
      responses:
        200:
          description: "HOS logs for the specified driver."
          schema:
            $ref: "#/definitions/HosLogsSummaryResponse"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
  /fleet/list:
    post:
      tags:
      - "Fleet"
      summary: "/fleet/list"
      description: "Get list of the vehicles. This method returns a list of the vehicles\
        \ in the Samsara Cloud and information about them."
      operationId: "list_fleet"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - in: "body"
        name: "groupParam"
        description: "Group ID to query."
        required: true
        schema:
          $ref: "#/definitions/groupParam"
      - name: "startingAfter"
        in: "query"
        description: "Pagination parameter indicating the cursor position to continue\
          \ returning results after. Used in conjunction with the 'limit' parameter.\
          \ Mutually exclusive with 'endingBefore' parameter."
        required: false
        type: "string"
      - name: "endingBefore"
        in: "query"
        description: "Pagination parameter indicating the cursor position to return\
          \ results before. Used in conjunction with the 'limit' parameter. Mutually\
          \ exclusive with 'startingAfter' parameter."
        required: false
        type: "string"
      - name: "limit"
        in: "query"
        description: "Pagination parameter indicating the number of results to return\
          \ in this request. Used in conjunction with either 'startingAfter' or 'endingBefore'."
        required: false
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "List of vehicles and information about each."
          schema:
            type: "object"
            properties:
              groupId:
                type: "integer"
                format: "int64"
                example: 101
                description: "Group ID to query."
              pagination:
                $ref: "#/definitions/Pagination"
              vehicles:
                type: "array"
                items:
                  $ref: "#/definitions/Vehicle"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
  /fleet/locations:
    post:
      tags:
      - "Fleet"
      summary: "/fleet/locations"
      description: "Get current location of vehicles in a group. This method returns\
        \ the current location in latitude and longitude of all vehicles in a requested\
        \ group."
      operationId: "get_fleet_locations"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - in: "body"
        name: "groupParam"
        description: "Group ID to query."
        required: true
        schema:
          $ref: "#/definitions/groupParam"
      responses:
        200:
          description: "List of vehicle objects containing their location and the\
            \ time at which that location was logged."
          schema:
            type: "object"
            properties:
              groupId:
                type: "integer"
                format: "int64"
                example: 101
                description: "Group ID to query."
              vehicles:
                type: "array"
                items:
                  $ref: "#/definitions/VehicleLocation"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
  /fleet/maintenance/dvirs:
    get:
      tags:
      - "Fleet"
      summary: "/fleet/maintenance/dvirs"
      description: "Get DVIRs for the org within provided time constraints"
      operationId: "get_dvirs"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "end_ms"
        in: "query"
        description: "time in millis until the last dvir log."
        required: true
        type: "integer"
      - name: "duration_ms"
        in: "query"
        description: "time in millis which corresponds to the duration before the\
          \ end_ms."
        required: true
        type: "integer"
      - name: "group_id"
        in: "query"
        description: "Group ID to query."
        required: false
        type: "integer"
      responses:
        200:
          description: "DVIRs for the specified duration."
          schema:
            $ref: "#/definitions/DvirListResponse"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
    post:
      tags:
      - "Fleet"
      summary: "/fleet/maintenance/dvirs"
      description: "Create a new dvir, marking a vehicle or trailer safe or unsafe."
      operationId: "create_dvir"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - in: "body"
        name: "createDvirParam"
        description: "DVIR creation body"
        required: true
        schema:
          $ref: "#/definitions/createDvirParam"
      responses:
        200:
          description: "Newly created DVIR."
          schema:
            $ref: "#/definitions/DvirBase"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
  /fleet/maintenance/list:
    post:
      tags:
      - "Fleet"
      summary: "/fleet/maintenance/list"
      description: "Get list of the vehicles with any engine faults or check light\
        \ data."
      operationId: "get_fleet_maintenance_list"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - in: "body"
        name: "groupParam"
        description: "Group ID to query."
        required: true
        schema:
          $ref: "#/definitions/groupParam"
      responses:
        200:
          description: "List of vehicles and maintenance information about each."
          schema:
            type: "object"
            properties:
              vehicles:
                type: "array"
                items:
                  $ref: "#/definitions/VehicleMaintenance"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
  /fleet/set_data:
    post:
      tags:
      - "Fleet"
      summary: "/fleet/set_data"
      description: "This method enables the mutation of metadata for vehicles in the\
        \ Samsara Cloud."
      operationId: "update_vehicles"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - in: "body"
        name: "vehicleUpdateParam"
        required: true
        schema:
          $ref: "#/definitions/vehicleUpdateParam"
      responses:
        200:
          description: "Vehicles were successfully updated. No response body is returned."
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
  /fleet/trips:
    post:
      tags:
      - "Fleet"
      summary: "/fleet/trips"
      description: "Get historical trips data for specified vehicle. This method returns\
        \ a set of historical trips data for the specified vehicle in the specified\
        \ time range."
      operationId: "get_fleet_trips"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - in: "body"
        name: "tripsParam"
        description: "Group ID, vehicle ID and time range to query."
        required: true
        schema:
          $ref: "#/definitions/tripsParam"
      responses:
        200:
          description: "List of trips taken by the requested vehicle within the specified\
            \ timeframe."
          schema:
            $ref: "#/definitions/TripResponse"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
  /fleet/vehicles/locations:
    get:
      tags:
      - "Fleet"
      summary: "/fleet/vehicles/locations"
      description: "Fetch locations for a given vehicle between a start/end time.\
        \ The maximum query duration is 30 minutes."
      operationId: "get_vehicles_locations"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "startMs"
        in: "query"
        description: "Time in Unix epoch milliseconds for the start of the query (cannot\
          \ exceed 30 minutes)"
        required: true
        type: "integer"
      - name: "endMs"
        in: "query"
        description: "Time in Unix epoch milliseconds for the end of the query (cannot\
          \ exceed 30 minutes)"
        required: true
        type: "integer"
      responses:
        200:
          description: "Returns locations for a given vehicle between a start/end\
            \ time, with a maximum query duration of 30 minutes."
          schema:
            $ref: "#/definitions/FleetVehiclesLocations"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
  /fleet/vehicles/stats:
    get:
      tags:
      - "Fleet"
      summary: "/fleet/vehicles/stats"
      description: "Fetch engine state and aux input data for all vehicles in the\
        \ group between a start/end time. Data returned may be affected by device\
        \ connectivity and processing time."
      operationId: "get_vehicle_stats"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "startMs"
        in: "query"
        description: "Time in Unix epoch milliseconds for the start of the query."
        required: true
        type: "integer"
      - name: "endMs"
        in: "query"
        description: "Time in Unix epoch milliseconds for the end of the query."
        required: true
        type: "integer"
      - name: "series"
        in: "query"
        description: "Comma-separated list of stat types. Options are engineState,\
          \ auxInput1, and auxInput2. If this parameter is excluded, all 3 stat types\
          \ will be returned. Example: series=engineState,auxInput2"
        required: false
        type: "string"
        enum:
        - "engineState"
        - "auxInput1"
        - "auxInput2"
      - name: "tagIds"
        in: "query"
        description: "Comma-separated list of tag ids. Example: tagIds=1,2,3"
        required: false
        type: "string"
      - name: "startingAfter"
        in: "query"
        description: "Pagination parameter indicating the cursor position to continue\
          \ returning results after. Used in conjunction with the 'limit' parameter.\
          \ Mutually exclusive with 'endingBefore' parameter."
        required: false
        type: "string"
      - name: "endingBefore"
        in: "query"
        description: "Pagination parameter indicating the cursor position to return\
          \ results before. Used in conjunction with the 'limit' parameter. Mutually\
          \ exclusive with 'startingAfter' parameter."
        required: false
        type: "string"
      - name: "limit"
        in: "query"
        description: "Pagination parameter indicating the number of results to return\
          \ in this request. Used in conjunction with either 'startingAfter' or 'endingBefore'."
        required: false
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Returns engine state and/or aux input data for all vehicles\
            \ in the group between a start/end time."
          schema:
            type: "object"
            required:
            - "vehicleStats"
            properties:
              pagination:
                $ref: "#/definitions/Pagination"
              vehicleStats:
                type: "array"
                items:
                  $ref: "#/definitions/inline_response_200_5_vehicleStats"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
  /fleet/vehicles/{vehicleId}/safety/harsh_event:
    get:
      tags:
      - "Fleet"
      - "Safety"
      summary: "/fleet/vehicles/{vehicleId:[0-9]+}/safety/harsh_event"
      description: "Fetch harsh event details for a vehicle."
      operationId: "get_vehicle_harsh_event"
      parameters:
      - name: "vehicleId"
        in: "path"
        description: "ID of the vehicle"
        required: true
        type: "integer"
        format: "int64"
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "timestamp"
        in: "query"
        description: "Timestamp in milliseconds representing the timestamp of a harsh\
          \ event."
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Harsh event details."
          schema:
            $ref: "#/definitions/VehicleHarshEventResponse"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
  /fleet/vehicles/{vehicleId}/safety/score:
    get:
      tags:
      - "Fleet"
      - "Safety"
      summary: "/fleet/vehicles/{vehicleId:[0-9]+}/safety/score"
      description: "Fetch the safety score for the vehicle."
      operationId: "get_vehicle_safety_score"
      parameters:
      - name: "vehicleId"
        in: "path"
        description: "ID of the vehicle"
        required: true
        type: "integer"
        format: "int64"
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "startMs"
        in: "query"
        description: "Timestamp in milliseconds representing the start of the period\
          \ to fetch, inclusive. Used in combination with endMs."
        required: true
        type: "integer"
        format: "int64"
      - name: "endMs"
        in: "query"
        description: "Timestamp in milliseconds representing the end of the period\
          \ to fetch, inclusive. Used in combination with startMs."
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Safety score details."
          schema:
            $ref: "#/definitions/VehicleSafetyScoreResponse"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
  /fleet/vehicles/{vehicle_id_or_external_id}:
    get:
      tags:
      - "Fleet"
      summary: "/fleet/vehicles/{vehicle_id:[0-9]+ | external_id:[a-zA-Z0-9]+}"
      description: "Gets a specific vehicle."
      operationId: "get_fleet_vehicle"
      consumes:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "vehicle_id_or_external_id"
        in: "path"
        description: "ID of the vehicle.  This must be either the numeric ID generated\
          \ by Samsara or the external ID of the vehicle.  External IDs are customer\
          \ specified key-value pairs."
        required: true
        type: "string"
      responses:
        200:
          description: "The specified vehicle."
          schema:
            $ref: "#/definitions/FleetVehicleResponse"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
    patch:
      tags:
      - "Fleet"
      summary: "/fleet/vehicles/{vehicle_id:[0-9]+ | external_id:[a-zA-Z0-9]+}"
      description: "Updates the specified vehicle using JSON merge patch format. See\
        \ IETF RFC 7396: https://tools.ietf.org/html/rfc7396."
      operationId: "patch_fleet_vehicle"
      consumes:
      - "application/json"
      - "application/merge-patch+json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "vehicle_id_or_external_id"
        in: "path"
        description: "ID of the vehicle.  This must be either the numeric ID generated\
          \ by Samsara or the external ID of the vehicle.  External IDs are customer\
          \ specified key-value pairs."
        required: true
        type: "string"
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/data"
      responses:
        200:
          description: "The updated vehicle."
          schema:
            $ref: "#/definitions/FleetVehicleResponse"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
  /fleet/vehicles/{vehicle_id}/dispatch/routes:
    get:
      tags:
      - "Fleet"
      - "Routes"
      summary: "/fleet/vehicles/{vehicle_id:[0-9]+}/dispatch/routes"
      description: "Fetch all of the dispatch routes for a given vehicle."
      operationId: "get_dispatch_routes_by_vehicle_id"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "vehicle_id"
        in: "path"
        description: "ID of the vehicle with the associated routes."
        required: true
        type: "integer"
        format: "int64"
      - name: "end_time"
        in: "query"
        description: "Time in unix milliseconds that represents the oldest routes\
          \ to return. Used in combination with duration. Defaults to now."
        required: false
        type: "integer"
        format: "int64"
      - name: "duration"
        in: "query"
        description: "Time in milliseconds that represents the duration before end_time\
          \ to query. Defaults to 24 hours."
        required: false
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Returns all of the dispatch routes for the given vehicle_id."
          schema:
            $ref: "#/definitions/DispatchRoutes"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
    post:
      tags:
      - "Fleet"
      - "Routes"
      summary: "/fleet/vehicles/{vehicle_id:[0-9]+}/dispatch/routes"
      description: "Create a new dispatch route for the vehicle with vehicle_id."
      operationId: "create_vehicle_dispatch_route"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "vehicle_id"
        in: "path"
        description: "ID of the vehicle with the associated routes."
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "createDispatchRouteParams"
        required: true
        schema:
          $ref: "#/definitions/DispatchRouteCreate"
      responses:
        200:
          description: "Created route object including the new route ID."
          schema:
            $ref: "#/definitions/DispatchRoute"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
  /fleet/vehicles/{vehicle_id}/locations:
    get:
      tags:
      - "Fleet"
      summary: "/fleet/vehicles/{vehicle_id:[0-9]+}/locations"
      description: "Fetch locations for a given vehicle between a start/end time.\
        \ The maximum query duration is one hour."
      operationId: "get_vehicle_locations"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "vehicle_id"
        in: "path"
        description: "ID of the vehicle with the associated routes."
        required: true
        type: "integer"
        format: "int64"
      - name: "startMs"
        in: "query"
        description: "Time in Unix epoch milliseconds for the start of the query (cannot\
          \ exceed 1 hour)"
        required: true
        type: "integer"
        format: "int64"
      - name: "endMs"
        in: "query"
        description: "Time in Unix epoch milliseconds for the end of the query (cannot\
          \ exceed 1 hour)"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Returns locations for a given vehicle between a start/end\
            \ time, with a maximum query duration of one hour."
          schema:
            $ref: "#/definitions/FleetVehicleLocations"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.fleet_controller"
  /industrial/data:
    get:
      tags:
      - "Industrial"
      summary: "/industrial/data"
      description: "Fetch all of the data inputs for a group."
      operationId: "get_all_data_inputs"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "group_id"
        in: "query"
        description: "Optional group ID if the organization has multiple groups (uncommon)."
        required: false
        type: "integer"
        format: "int64"
      - name: "startMs"
        in: "query"
        description: "Timestamp in unix milliseconds representing the start of the\
          \ period to fetch, inclusive. Used in combination with endMs. defaults to\
          \ nowMs."
        required: false
        type: "integer"
        format: "int64"
      - name: "endMs"
        in: "query"
        description: "Timestamp in unix milliseconds representing the end of the period\
          \ to fetch, inclusive. Used in combination with startMs. Defaults to nowMs."
        required: false
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "List of data inputs."
          schema:
            type: "object"
            properties:
              dataInputs:
                type: "array"
                items:
                  $ref: "#/definitions/DataInputHistoryResponse"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.industrial_controller"
  /industrial/data/{data_input_id}:
    get:
      tags:
      - "Industrial"
      summary: "/industrial/data/{data_input_id:[0-9]+}"
      description: "Fetch datapoints from a given data input."
      operationId: "get_data_input"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "data_input_id"
        in: "path"
        description: "ID of the data input"
        required: true
        type: "integer"
        format: "int64"
      - name: "startMs"
        in: "query"
        description: "Timestamp in unix milliseconds representing the start of the\
          \ period to fetch, inclusive. Used in combination with endMs. defaults to\
          \ nowMs."
        required: false
        type: "integer"
        format: "int64"
      - name: "endMs"
        in: "query"
        description: "Timestamp in unix milliseconds representing the end of the period\
          \ to fetch, inclusive. Used in combination with startMs. Defaults to nowMs."
        required: false
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Returns datapoints for the given data input"
          schema:
            $ref: "#/definitions/DataInputHistoryResponse"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.industrial_controller"
  /machines/history:
    post:
      tags:
      - "Industrial"
      summary: "/machines/history"
      description: "Get historical data for machine objects. This method returns a\
        \ set of historical data for all machines in a group"
      operationId: "get_machines_history"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - in: "body"
        name: "historyParam"
        description: "Group ID and time range to query for events"
        required: true
        schema:
          $ref: "#/definitions/historyParam"
      responses:
        200:
          description: "List of machine results objects, each containing a time and\
            \ a datapoint."
          schema:
            $ref: "#/definitions/MachineHistoryResponse"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.industrial_controller"
  /machines/list:
    post:
      tags:
      - "Industrial"
      summary: "/machines/list"
      description: "Get machine objects. This method returns a list of the machine\
        \ objects in the Samsara Cloud and information about them."
      operationId: "get_machines"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - in: "body"
        name: "groupParam"
        description: "Group ID to query."
        required: true
        schema:
          $ref: "#/definitions/groupParam"
      responses:
        200:
          description: "List of machine objects."
          schema:
            type: "object"
            properties:
              machines:
                type: "array"
                items:
                  $ref: "#/definitions/Machine"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.industrial_controller"
  /sensors/cargo:
    post:
      tags:
      - "Sensors"
      summary: "/sensors/cargo"
      description: "Get cargo monitor status (empty / full) for requested sensors."
      operationId: "get_sensors_cargo"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - in: "body"
        name: "sensorParam"
        description: "Group ID and list of sensor IDs to query."
        required: true
        schema:
          $ref: "#/definitions/sensorParam"
      responses:
        200:
          description: "List of sensor objects containing the current cargo status\
            \ reported by each sensor."
          schema:
            $ref: "#/definitions/CargoResponse"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.sensors_controller"
  /sensors/door:
    post:
      tags:
      - "Sensors"
      summary: "/sensors/door"
      description: "Get door monitor status (closed / open) for requested sensors."
      operationId: "get_sensors_door"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - in: "body"
        name: "sensorParam"
        description: "Group ID and list of sensor IDs to query."
        required: true
        schema:
          $ref: "#/definitions/sensorParam"
      responses:
        200:
          description: "List of sensor objects containing the current door status\
            \ reported by each sensor."
          schema:
            $ref: "#/definitions/DoorResponse"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.sensors_controller"
  /sensors/history:
    post:
      tags:
      - "Sensors"
      summary: "/sensors/history"
      description: "Get historical data for specified sensors. This method returns\
        \ a set of historical data for the specified sensors in the specified time\
        \ range and at the specified time resolution."
      operationId: "get_sensors_history"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - in: "body"
        name: "historyParam"
        description: "Group ID, time range and resolution, and list of sensor ID,\
          \ field pairs to query."
        required: true
        schema:
          $ref: "#/definitions/historyParam_1"
      responses:
        200:
          description: "List of results objects, each containing a time and a datapoint\
            \ for each requested sensor/field pair."
          schema:
            $ref: "#/definitions/SensorHistoryResponse"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.sensors_controller"
  /sensors/humidity:
    post:
      tags:
      - "Sensors"
      summary: "/sensors/humidity"
      description: "Get humidity for requested sensors. This method returns the current\
        \ relative humidity for the requested sensors."
      operationId: "get_sensors_humidity"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - in: "body"
        name: "sensorParam"
        description: "Group ID and list of sensor IDs to query."
        required: true
        schema:
          $ref: "#/definitions/sensorParam"
      responses:
        200:
          description: "List of sensor objects containing the current humidity reported\
            \ by each sensor."
          schema:
            $ref: "#/definitions/HumidityResponse"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.sensors_controller"
  /sensors/list:
    post:
      tags:
      - "Sensors"
      summary: "/sensors/list"
      description: "Get sensor objects. This method returns a list of the sensor objects\
        \ in the Samsara Cloud and information about them."
      operationId: "get_sensors"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - in: "body"
        name: "groupParam"
        description: "Group ID to query."
        required: true
        schema:
          $ref: "#/definitions/groupParam"
      responses:
        200:
          description: "List of sensor objects."
          schema:
            type: "object"
            properties:
              sensors:
                type: "array"
                items:
                  $ref: "#/definitions/Sensor"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.sensors_controller"
  /sensors/temperature:
    post:
      tags:
      - "Sensors"
      summary: "/sensors/temperature"
      description: "Get temperature for requested sensors. This method returns the\
        \ current ambient temperature (and probe temperature if applicable) for the\
        \ requested sensors."
      operationId: "get_sensors_temperature"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - in: "body"
        name: "sensorParam"
        description: "Group ID and list of sensor IDs to query."
        required: true
        schema:
          $ref: "#/definitions/sensorParam"
      responses:
        200:
          description: "List of sensor objects containing the current temperature\
            \ reported by each sensor."
          schema:
            $ref: "#/definitions/TemperatureResponse"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.sensors_controller"
  /tags:
    get:
      tags:
      - "Tags"
      summary: "/tags"
      description: "Fetch all of the tags for a group."
      operationId: "get_all_tags"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "group_id"
        in: "query"
        description: "Optional group ID if the organization has multiple groups (uncommon)."
        required: false
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "List of tags."
          schema:
            type: "object"
            properties:
              tags:
                type: "array"
                items:
                  $ref: "#/definitions/Tag"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.tags_controller"
    post:
      tags:
      - "Tags"
      summary: "/tags"
      description: "Create a new tag for the group."
      operationId: "create_tag"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - in: "body"
        name: "tagCreateParams"
        required: true
        schema:
          $ref: "#/definitions/TagCreate"
      responses:
        200:
          description: "Newly created tag object, including the new tag ID."
          schema:
            $ref: "#/definitions/Tag"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.tags_controller"
  /tags/{tag_id}:
    get:
      tags:
      - "Tags"
      summary: "/tags/{tag_id:[0-9]+}"
      description: "Fetch a tag by id."
      operationId: "get_tag_by_id"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "tag_id"
        in: "path"
        description: "ID of the tag."
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "The tag corresponding to tag_id."
          schema:
            $ref: "#/definitions/Tag"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.tags_controller"
    put:
      tags:
      - "Tags"
      summary: "/tags/{tag_id:[0-9]+}"
      description: "Update a tag with a new name and new members. This API call would\
        \ replace all old members of a tag with new members specified in the request\
        \ body. To modify only a few devices associated with a tag use the PATCH endpoint."
      operationId: "update_tag_by_id"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "tag_id"
        in: "path"
        description: "ID of the tag."
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "updateTagParams"
        required: true
        schema:
          $ref: "#/definitions/TagUpdate"
      responses:
        200:
          description: "The updated tag data."
          schema:
            $ref: "#/definitions/Tag"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.tags_controller"
    delete:
      tags:
      - "Tags"
      summary: "/tags/{tag_id:[0-9]+}"
      description: "Permanently deletes a tag."
      operationId: "delete_tag_by_id"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "tag_id"
        in: "path"
        description: "ID of the tag."
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "Successfully deleted the tag. No response body is returned."
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.tags_controller"
    patch:
      tags:
      - "Tags"
      summary: "/tags/{tag_id:[0-9]+}"
      description: "Add or delete specific members from a tag, or modify the name\
        \ of a tag."
      operationId: "modify_tag_by_id"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "tag_id"
        in: "path"
        description: "ID of the tag."
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "tagModifyParams"
        required: true
        schema:
          $ref: "#/definitions/TagModify"
      responses:
        200:
          description: "The updated tag data."
          schema:
            $ref: "#/definitions/Tag"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.tags_controller"
  /user_roles:
    get:
      tags:
      - "Users"
      summary: "/user_roles"
      description: "Get all roles in the organization."
      operationId: "list_user_roles"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      responses:
        200:
          description: "List of user roles."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/UserRole"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.users_controller"
  /users:
    get:
      tags:
      - "Users"
      summary: "/users"
      description: "List all users in the organization."
      operationId: "list_users"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      responses:
        200:
          description: "List of users."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/User"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.users_controller"
  /users/{userId}:
    get:
      tags:
      - "Users"
      summary: "/users/{userId:[0-9]+}"
      description: "Get a user."
      operationId: "get_user_by_id"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "userId"
        in: "path"
        description: "ID of the user."
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "User record."
          schema:
            $ref: "#/definitions/User"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.users_controller"
    delete:
      tags:
      - "Users"
      summary: "/users/{userId:[0-9]+}"
      description: "Remove a user from the organization."
      operationId: "delete_user_by_id"
      parameters:
      - name: "access_token"
        in: "query"
        description: "Samsara API access token."
        required: true
        type: "string"
      - name: "userId"
        in: "path"
        description: "ID of the user."
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "The user was successfully removed."
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-swagger-router-controller: "samsara.controllers.users_controller"
definitions:
  Address:
    type: "object"
    properties:
      contacts:
        type: "array"
        items:
          $ref: "#/definitions/Contact"
      formattedAddress:
        type: "string"
        example: "350 Rhode Island St, San Francisco, CA"
        description: "The full address associated with this address/geofence, as it\
          \ might be recognized by maps.google.com"
      geofence:
        $ref: "#/definitions/AddressGeofence"
      id:
        type: "integer"
        format: "int64"
        example: 123
        description: "ID of the address"
      name:
        type: "string"
        example: "Samsara HQ"
        description: "Name of the address or geofence"
      notes:
        $ref: "#/definitions/AddressNotes"
      tags:
        type: "array"
        items:
          $ref: "#/definitions/TagMetadata"
    description: "Information about an address/geofence. Geofences are either a circle\
      \ or a polygon."
    example:
      tags:
      - id: 12345
        name: "Broken Vehicles"
      - id: 12345
        name: "Broken Vehicles"
      id: 123
      geofence:
        polygon:
          vertices:
          - longitude: -122.403098
            latitude: 37.765363
          - longitude: -122.403098
            latitude: 37.765363
        circle:
          radiusMeters: 250
          longitude: -122.403098
          latitude: 37.765363
      name: "Samsara HQ"
      formattedAddress: "350 Rhode Island St, San Francisco, CA"
      notes: "Delivery site 1"
      contacts:
      - id: 123
        lastName: "Jones"
        phone: "111-222-3344"
        email: "jane.jones@yahoo.com"
        firstName: "Jane"
      - id: 123
        lastName: "Jones"
        phone: "111-222-3344"
        email: "jane.jones@yahoo.com"
        firstName: "Jane"
  AddressGeofence:
    type: "object"
    properties:
      circle:
        $ref: "#/definitions/AddressGeofence_circle"
      polygon:
        $ref: "#/definitions/AddressGeofence_polygon"
    description: "The geofence that defines this address and its bounds. This can\
      \ either be a circle, or a polygon - only one key should be provided, depending\
      \ on the geofence type."
    example:
      polygon:
        vertices:
        - longitude: -122.403098
          latitude: 37.765363
        - longitude: -122.403098
          latitude: 37.765363
      circle:
        radiusMeters: 250
        longitude: -122.403098
        latitude: 37.765363
  AddressNotes:
    type: "string"
    description: "Notes associated with an address."
    example: "Delivery site 1"
  Asset:
    type: "object"
    required:
    - "id"
    properties:
      assetSerialNumber:
        type: "string"
        example: "SNTEST123"
        description: "Serial number of the host asset"
      cable:
        type: "array"
        description: "The cable connected to the asset"
        items:
          $ref: "#/definitions/Asset_cable"
      engineHours:
        type: "integer"
        example: 104
        description: "Engine hours"
      id:
        type: "integer"
        format: "int64"
        example: 1
        description: "Asset ID"
      name:
        type: "string"
        example: "Trailer 123"
        description: "Asset name"
    description: "Basic information of an asset"
    example:
      id: 1
      assetSerialNumber: "SNTEST123"
      engineHours: 104
      name: "Trailer 123"
      cable:
      - assetType: "Reefer (Thermo King)"
      - assetType: "Reefer (Thermo King)"
  AssetCurrentLocation:
    type: "object"
    properties:
      latitude:
        type: "number"
        format: "double"
        example: 37.0
        description: "The latitude of the location in degrees."
      location:
        type: "string"
        example: "525 York, San Francisco, CA"
        description: "The best effort (street,city,state) for the latitude and longitude."
      longitude:
        type: "number"
        format: "double"
        example: -122.7
        description: "The longitude of the location in degrees."
      speedMilesPerHour:
        type: "number"
        format: "double"
        example: 35.0
        description: "The speed calculated from GPS that the asset was traveling at\
          \ in miles per hour."
      timeMs:
        type: "integer"
        format: "int64"
        example: 12314151
        description: "Time in Unix milliseconds since epoch when the asset was at\
          \ the location."
    description: "Current location of an asset"
    example:
      speedMilesPerHour: 35.0
      location: "525 York, San Francisco, CA"
      longitude: -122.7
      latitude: 37.0
      timeMs: 12314151
  AssetCurrentLocationsResponse:
    type: "object"
    required:
    - "id"
    properties:
      cable:
        type: "array"
        description: "The cable connected to the asset"
        items:
          $ref: "#/definitions/Asset_cable"
      engineHours:
        type: "integer"
        example: 104
        description: "Engine hours"
      id:
        type: "integer"
        format: "int64"
        example: 1
        description: "Asset ID"
      location:
        type: "array"
        description: "Current location of an asset"
        items:
          $ref: "#/definitions/AssetCurrentLocation"
      name:
        type: "string"
        example: "Trailer 123"
        description: "Asset name"
    description: "Basic information of an asset"
    example:
      id: 1
      engineHours: 104
      location:
      - speedMilesPerHour: 35.0
[...]
